@import url("https://fonts.googleapis.com/css?family=Passion+One");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
body {
  background-color: white;
}
body nav {
  width: 15%;
  position: fixed;
  margin-left: 60px;
}
body nav #nav-logo img {
  height: 90vh;
}
body nav #nav-text h1.page-title {
  padding-bottom: 20px;
}
body nav #nav-text h1.page-title a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  line-height: solid;
  font-size: 18px;
}
body nav #nav-text h1.page-title a:hover {
  color: red;
}
body nav #nav-text ul li a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: crimson;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px;
  letter-spacing: .05em;
  font-size: 14px;
}
body nav #nav-text ul li a:hover {
  color: grey;
}
body nav #nav-text ul ul.project-list {
  border-left: 1px solid lightgrey;
  padding-left: 10px;
}
body nav #nav-text ul ul.project-list li {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: lightgrey;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
  letter-spacing: .05em;
  font-size: 12px;
}
body nav #nav-text ul ul.project-list li:hover {
  color: grey;
}
body main {
  width: 50%;
  margin-left: 25%;
  margin-top: 20px;
}

#this-page--title-description {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 20px;
  background-color: snow;
}
#this-page--title-description h2 {
  width: 90%;
  margin: auto;
  padding-top: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  color: crimson;
  letter-spacing: .4rem;
  margin-bottom: 26px;
  font-size: 16px;
}
#this-page--title-description p {
  width: 90%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: grey;
  line-height: 26px;
  font-size: 14px;
}

.one-project {
  display: block;
  width: 100%;
  margin: auto;
  padding-top: 4vh;
  padding-bottom: 4vh;
  border-bottom: 1px dotted lightgrey;
}
.one-project .thumbnail {
  width: 100%;
  height: auto;
}
.one-project .thumbnail .thumbnail-img {
  width: 100%;
}
.one-project .project-title {
  margin-bottom: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: crimson;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 35px;
  letter-spacing: .4rem;
  font-size: 20px;
}
.one-project .project-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: darkgrey;
  line-height: 26px;
  margin-bottom: 20px;
  font-size: 14px;
}

/*****OLD FORMAT
.one-project:nth-child(odd){
   // border: 1px solid green;
   display: block;
   width: 100%;
   margin: auto;
   padding-top: 4vh;
   padding-bottom: 4vh;
   border-bottom: 1px dotted lightgrey;
   .thumbnail{
      width: 100%;
      height: auto;
      margin-left: 5%;
      .thumbnail-img{
         width: 100%;
      }
   }

   .title-and-description{
      width: 45%;
   }
   .project-title{
      margin-bottom: 20px;
      font-family: $nav--font-family;
      font-weight: $nav--font-weight;
      color: lightcoral;

      text-transform: uppercase;
      text-decoration: none;
      line-height: 35px;

      font-size: 22px;
   }
   .project-description{
      font-family: 'Open Sans', sans-serif;
      font-weight: $nav--font-weight;
      color: darkgrey;
      line-height: 26px;

      font-size: 16px;
   }
}

.one-project:nth-child(even){
   display: block;
   width: 100%;
   margin: auto;
   padding-top: 4vh;
   padding-bottom: 4vh;
   border-bottom: 1px dotted lightgrey;
   .thumbnail{
      width: 100%;
      height: auto;
      margin-right: 5%;
      .thumbnail-img{
         width: 100%;
      }
   }
   .title-and-description{
      width: 45%;
   }
   .project-title{
      text-align: right;
      margin-bottom: 20px;
      font-family: $nav--font-family;
      font-weight: $nav--font-weight;
      color: lightcoral;

      text-transform: uppercase;
      text-decoration: none;
      line-height: 35px;

      font-size: 22px;
   }
   .project-description{
      text-align: right;
      font-family: 'Open Sans', sans-serif;
      font-weight: $nav--font-weight;
      color: darkgrey;
      line-height: 26px;

      font-size: 16px;
   }
}
****OLD FORMAT****/
