@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,700;1,500&display=swap");
@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk/hkgrotesk-medium.eot");
  src: url("../fonts/hkgrotesk/hkgrotesk-medium.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-medium.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-medium.svg#hkgrotesk-medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk/hkgrotesk-regular.eot");
  src: url("../fonts/hkgrotesk/hkgrotesk-regular.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-regular.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-regular.svg#hkgrotesk-regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk/hkgrotesk-bold.eot");
  src: url("../fonts/hkgrotesk/hkgrotesk-bold.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-bold.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-bold.svg#hkgrotesk-bold") format("svg");
  font-weight: 600;
  font-style: normal;
}
#p5-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#white-fadeIn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: white;
  pointer-events: none;
  -webkit-animation: white-fadeIn 2s ease-in-out 1 forwards;
  -moz-animation: white-fadeIn 2s ease-in-out 1 forwards;
  -ms-animation: white-fadeIn 2s ease-in-out 1 forwards;
  -o-animation: white-fadeIn 2s ease-in-out 1 forwards;
  animation: white-fadeIn 2s ease-in-out 1 forwards;
}
@-webkit-keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  font-family: 'HKGrotesk', sans-serif;
}

nav {
  z-index: 5;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  position: absolute;
  top: 50px;
  width: 85%;
  margin-left: 10%;
  height: 40px;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  nav {
    width: 90%;
    margin-left: 5%;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  nav {
    width: 90%;
    margin-left: 5%;
    top: 20px;
  }
}
@media only all and (max-width: 479px) {
  nav {
    width: 90%;
    margin-left: 5%;
    top: 20px;
  }
}
nav #nav-inner {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
nav #nav-inner .svg-container {
  height: 30px;
}
nav #nav-inner .svg-container #logo {
  height: 30px;
}
nav #nav-inner #nav-links {
  width: 25%;
  display: flex;
  flex-flow: row wrap;
  float: right;
  text-align: right;
  justify-content: space-between;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  nav #nav-inner #nav-links {
    width: 40%;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  nav #nav-inner #nav-links {
    width: 85%;
  }
}
@media only all and (max-width: 479px) {
  nav #nav-inner #nav-links {
    width: 85%;
  }
}
nav #nav-inner #nav-links a {
  float: right;
  text-align: right;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
}
nav #nav-inner #nav-links a:hover {
  color: grey;
}
nav #nav-inner #nav-links a:after {
  color: black;
}

main {
  top: 0;
  left: 0;
  width: 85%;
  margin-left: 10%;
  margin-top: 200px;
  font-weight: 500;
  background-color: white;
}
@media only all and (max-width: 479px) {
  main {
    margin-top: 100px;
    width: 90%;
    margin-left: 5%;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  main {
    margin-top: 100px;
    width: 90%;
    margin-left: 5%;
  }
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  main {
    margin-top: 200px;
    width: 90%;
    margin-left: 5%;
  }
}
main #bio {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  width: 60%;
  margin-bottom: 120px;
  font-size: 28px;
  line-height: 34px;
  color: black;
  z-index: 4;
}
main #bio p {
  padding-bottom: 20px;
}
@media only all and (max-width: 479px) {
  main #bio {
    width: 100%;
    margin-top: 10px;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 60px;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  main #bio {
    width: 100%;
    margin-top: 20px;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 60px;
  }
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  main #bio {
    width: 100%;
    margin-top: 24px;
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 1691px) {
  main #bio {
    margin-top: 20px;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 120px;
  }
}
main #profile {
  width: 35%;
}
main #profile img {
  width: 100%;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  main #profile {
    width: 100%;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  main #profile {
    width: 100%;
  }
}
@media only all and (max-width: 479px) {
  main #profile {
    width: 100%;
  }
}
main #info-wrapper {
  border-top: 1px solid black;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
main #info-wrapper .content-wrapper {
  margin-bottom: 20px;
}
main #info-wrapper .title {
  font-weight: 600;
  margin-bottom: 10px;
}
main #info-wrapper .content {
  color: black;
  font-size: 15px;
  line-height: 24px;
}
main #info-wrapper a {
  color: black;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
}
main #info-wrapper a:hover {
  color: grey;
}
main #info-wrapper a:after {
  color: black;
  text-decoration: none;
}

footer {
  font-family: "HKGrotesk", sans-serif;
  font-weight: 400;
  width: 85%;
  margin-left: 10%;
  margin-bottom: 50px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #636363;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  footer {
    width: 90%;
    margin-left: 5%;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  footer {
    width: 90%;
    margin-left: 5%;
  }
}
@media only all and (max-width: 479px) {
  footer {
    width: 90%;
    margin-left: 5%;
  }
}
