@font-face {
  font-family: "HKGrotesk-Medium";
  src: url("../fonts/hkgrotesk/hkgrotesk-medium.eot");
  src: url("../fonts/hkgrotesk/hkgrotesk-medium.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-medium.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-medium.svg#hkgrotesk-medium") format("svg");
  font-family: "HKGrotesk-Regular";
  src: url("../fonts/hkgrotesk/hkgrotesk-regular.eot");
  src: url("../fonts/hkgrotesk/hkgrotesk-regular.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-regular.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-regular.svg#hkgrotesk-regular") format("svg");
  font-family: "HKGrotesk-Bold";
  src: url("../fonts/hkgrotesk/hkgrotesk-bold.eot");
  src: url("../fonts/hkgrotesk/hkgrotesk-bold.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-bold.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-bold.svg#hkgrotesk-bold") format("svg");
}
body {
  background-color: #f2f2f2;
}

#p5-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#nav-white-space {
  width: 100%;
  height: 70px;
}

nav.isSticky {
  background-color: #f2f2f2;
}

nav {
  width: 100%;
  height: 60px;
  top: -1px;
  left: 0;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  position: sticky;
  padding-top: 1px;
  z-index: 5;
}
nav #nav-smallwrapper {
  width: 75%;
  font-family: 'HKGrotesk-Medium', sans-serif;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: baseline;
  justify-content: space-between;
}
nav #nav-smallwrapper #nav-headers {
  width: 13%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 22px;
}
nav #nav-smallwrapper #nav-headers .dot {
  height: 6px;
  width: 6px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  align-self: center;
}
nav h1 {
  font-size: 30px;
  text-decoration: underline;
  text-align: right;
  color: black;
}
nav h1:after {
  color: black;
}

main {
  width: 75%;
  margin-left: 12.5%;
  margin-top: 50px;
  margin-bottom: 200px;
  font-family: 'HKGrotesk-Regular', sans-serif;
}
main .feature {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
  margin-left: 10%;
}
main .feature-img {
  width: 100%;
  margin-bottom: 20px;
}
main .feature-info {
  display: flex;
  flex: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
main h2 {
  font-family: 'HKGrotesk-Medium', sans-serif;
  width: 25%;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 10px;
}
main .feature-categories {
  width: 15%;
  display: flex;
  flex-direction: column;
}
main .category-title {
  font-family: 'HKGrotesk-Medium', sans-serif;
  margin-bottom: 10px;
  font-size: 16px;
  align-self: flex-start;
  text-decoration: underline;
}
main .category-item {
  font-size: 16px;
  line-height: 20px;
}
main .feature-description {
  width: 50%;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}
main .medium-titles {
  margin-bottom: 30px;
  font-size: 20px;
  text-decoration: underline;
}
main .small-titles {
  margin-bottom: 20px;
  font-size: 16px;
}
main .selected-projects {
  margin-bottom: 150px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
main .selected-projects .project-thumb {
  width: 100%;
  position: relative;
}
main .selected-projects .project-thumb img {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 0.5s;
}
main .selected-projects .project-thumb .selected-project-overlay-colorbox-blue {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 100%;
  background-color: #1289F6;
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  transition: width 0.5s, left 0.5s;
}
main .selected-projects .project-thumb .selected-project-overlay-colorbox-green {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 100%;
  background-color: #219653;
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  transition: width 0.5s, left 0.5s;
}
main .selected-projects .project-thumb .selected-project-overlay-colorbox-orange {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 100%;
  background-color: #FF613F;
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  transition: width 0.5s, left 0.5s;
}
main .selected-projects .project-thumb .selected-project-overlay-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 20%;
  height: 100%;
  top: 0;
  left: 80%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 0.5s;
  font-size: 36px;
  line-height: 56px;
}
main .selected-projects .project-thumb .selected-project-overlay-title {
  color: black;
  z-index: 1;
  padding: 10px;
}
main .selected-projects .project-thumb .selected-project-overlay-media {
  color: white;
  z-index: 1;
  padding: 10px;
}
main .selected-projects .project-thumb:hover img {
  opacity: 0.3;
}
main .selected-projects .project-thumb:hover .selected-project-overlay-colorbox-blue {
  opacity: 1;
  width: 20%;
  left: 80%;
}
main .selected-projects .project-thumb:hover .selected-project-overlay-colorbox-green {
  opacity: 1;
  width: 20%;
  left: 80%;
}
main .selected-projects .project-thumb:hover .selected-project-overlay-colorbox-orange {
  opacity: 1;
  width: 20%;
  left: 80%;
}
main .selected-projects .project-thumb:hover .selected-project-overlay-text {
  opacity: 1;
}

/********* gallery *********/
.gallery {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  overflow: hidden;
}
.gallery .gallery-thumb {
  padding-top: -1px;
  width: 18%;
  height: auto;
  margin-bottom: 50px;
}
.gallery .gallery-thumb img {
  width: 100%;
  cursor: url("../img/ui/cursor_expand.png"), auto;
}

/******* lightbox ********/
data-title {
  font-family: "HK HKGrotesk-Medium", sans-serif;
  color: black;
}
