@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk/hkgrotesk-medium.eot");
  src: url("../fonts/hkgrotesk/hkgrotesk-medium.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-medium.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-medium.svg#hkgrotesk-medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk/hkgrotesk-regular.eot");
  src: url("../fonts/hkgrotesk/hkgrotesk-regular.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-regular.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-regular.svg#hkgrotesk-regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk/hkgrotesk-bold.eot");
  src: url("../fonts/hkgrotesk/hkgrotesk-bold.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-bold.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-bold.svg#hkgrotesk-bold") format("svg");
  font-weight: 600;
  font-style: normal;
}
#white-fadeIn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: white;
  pointer-events: none;
  -webkit-animation: white-fadeIn 2s ease-in-out 1 forwards;
  -moz-animation: white-fadeIn 2s ease-in-out 1 forwards;
  -ms-animation: white-fadeIn 2s ease-in-out 1 forwards;
  -o-animation: white-fadeIn 2s ease-in-out 1 forwards;
  animation: white-fadeIn 2s ease-in-out 1 forwards;
}
@-webkit-keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  font-family: 'HKGrotesk', sans-serif;
}

nav {
  z-index: 5;
  position: absolute;
  top: 50px;
  width: 90%;
  margin-left: 5%;
  height: 20px;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  nav {
    width: 90%;
    margin-left: 5%;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  nav {
    width: 90%;
    margin-left: 5%;
    top: 20px;
  }
}
@media only all and (max-width: 479px) {
  nav {
    width: 90%;
    margin-left: 5%;
    top: 20px;
  }
}
nav #nav-inner {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
nav #nav-inner .svg-container {
  height: 30px;
}
nav #nav-inner .svg-container #logo {
  height: 30px;
}
nav #nav-inner #name {
  font-family: 'HKGrotesk', sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: none;
  color: black;
}
@media only screen and (min-width: 1691px) {
  nav #nav-inner #name {
    font-size: 24px;
    line-height: 28px;
  }
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  nav #nav-inner #nav-web {
    display: none;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  nav #nav-inner #nav-web {
    display: none;
  }
}
@media only all and (max-width: 479px) {
  nav #nav-inner #nav-web {
    display: none;
  }
}
nav #nav-inner #nav-web .web-dropbtn {
  outline: none;
  border: none;
  background: none;
  padding: 0;
}
nav #nav-inner #nav-web .web-link {
  font-family: 'HKGrotesk', sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
nav #nav-inner #nav-web .web-link:hover {
  color: #F8614C;
}
@media only screen and (min-width: 1691px) {
  nav #nav-inner #nav-web .web-link {
    font-size: 24px;
    line-height: 28px;
  }
}
nav #nav-inner #nav-web .web-dropdown:hover #web-dropdown-content {
  display: block;
}
nav #nav-inner #nav-web .web-dropdown #web-dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 5px;
}
nav #nav-inner #nav-mobile {
  color: black;
  display: none;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  nav #nav-inner #nav-mobile {
    display: block;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  nav #nav-inner #nav-mobile {
    display: block;
  }
}
@media only all and (max-width: 479px) {
  nav #nav-inner #nav-mobile {
    display: block;
  }
}
nav #nav-inner #nav-mobile .nav-open {
  -webkit-animation: nav-open 0.3s ease-in-out 1 forwards;
  -moz-animation: nav-open 0.3s ease-in-out 1 forwards;
  -ms-animation: nav-open 0.3s ease-in-out 1 forwards;
  -o-animation: nav-open 0.3s ease-in-out 1 forwards;
  animation: nav-open 0.3s ease-in-out 1 forwards;
}
@-webkit-keyframes nav-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes nav-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes nav-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes nav-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes nav-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
nav #nav-inner #nav-mobile .nav-close {
  -webkit-animation: nav-close 0.3s ease-in-out 1 forwards;
  -moz-animation: nav-close 0.3s ease-in-out 1 forwards;
  -ms-animation: nav-close 0.3s ease-in-out 1 forwards;
  -o-animation: nav-close 0.3s ease-in-out 1 forwards;
  animation: nav-close 0.3s ease-in-out 1 forwards;
}
@-webkit-keyframes nav-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes nav-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes nav-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes nav-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes nav-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
nav #nav-inner #nav-mobile .fade-down {
  -webkit-animation: fade-down 0.5s ease-in-out 1 forwards;
  -moz-animation: fade-down 0.5s ease-in-out 1 forwards;
  -ms-animation: fade-down 0.5s ease-in-out 1 forwards;
  -o-animation: fade-down 0.5s ease-in-out 1 forwards;
  animation: fade-down 0.5s ease-in-out 1 forwards;
}
@-webkit-keyframes fade-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}
@-moz-keyframes fade-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}
@-ms-keyframes fade-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}
@-o-keyframes fade-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}
nav #nav-inner #nav-mobile #nav-mobile-links {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  padding-top: 150px;
  padding-left: 5%;
  background-color: #f4f4f4;
}
nav #nav-inner #nav-mobile #nav-mobile-links p {
  display: block;
  opacity: 0;
  transform: translate3d(0, -25px, 0);
}
nav #nav-inner #nav-mobile #nav-mobile-links a {
  font-family: 'EB Garamond', serif;
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  text-transform: none;
  color: black;
  text-decoration: none;
}
nav #nav-inner #nav-mobile #nav-mobile-links a:hover {
  text-decoration: underline;
}
nav #nav-inner #nav-mobile #nav-mobile-links .dropdown {
  position: relative;
}
nav #nav-inner #nav-mobile #nav-mobile-links .dropdown p {
  opacity: 0;
  transform: translate3d(0, -50px, 0);
}
nav #nav-inner #nav-mobile #nav-mobile-links .dropdown .dropbtn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-family: 'EB Garamond', serif;
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  text-transform: none;
  color: black;
  padding: 0;
}
nav #nav-inner #nav-mobile #nav-mobile-links .dropdown .dropbtn:hover {
  text-decoration: underline;
}
nav #nav-inner #nav-mobile #nav-mobile-links .dropdown #dropdown-content {
  display: none;
  min-width: 160px;
  z-index: 1;
}
nav #nav-inner #nav-mobile #nav-mobile-links .dropdown #dropdown-content p {
  display: block;
}
nav #nav-inner #nav-mobile #nav-mobile-links .dropdown #dropdown-content a {
  padding-left: 30px;
  font-family: 'EB Garamond', serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 600;
  color: black;
  text-transform: none;
  text-decoration: none;
}
nav #nav-inner #nav-mobile #nav-mobile-links .dropdown #dropdown-content a:hover {
  text-decoration: underline;
}

main {
  margin-bottom: 100px;
  font-family: 'HKGrotesk', sans-serif;
  width: 70%;
  margin-left: 15%;
  margin-top: 100px;
  -webkit-animation: margin-intro 0.5s 0.5s ease-in-out 1 forwards;
  -moz-animation: margin-intro 0.5s 0.5s ease-in-out 1 forwards;
  -ms-animation: margin-intro 0.5s 0.5s ease-in-out 1 forwards;
  -o-animation: margin-intro 0.5s 0.5s ease-in-out 1 forwards;
  animation: margin-intro 0.5s 0.5s ease-in-out 1 forwards;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  main {
    width: 90%;
    margin-left: 5%;
    margin-top: 200px;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  main {
    width: 90%;
    margin-left: 5%;
    margin-top: 100px;
  }
}
@media only all and (max-width: 479px) {
  main {
    width: 90%;
    margin-left: 5%;
    margin-top: 100px;
  }
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  main {
    -webkit-animation: margin-intro 0.5s 0.5s ease-in-out 1 forwards;
    -moz-animation: margin-intro 0.5s 0.5s ease-in-out 1 forwards;
    -ms-animation: margin-intro 0.5s 0.5s ease-in-out 1 forwards;
    -o-animation: margin-intro 0.5s 0.5s ease-in-out 1 forwards;
    animation: margin-intro 0.5s 0.5s ease-in-out 1 forwards;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  main {
    -webkit-animation: margin-small-intro 0.5s 0.5s ease-in-out 1 forwards;
    -moz-animation: margin-small-intro 0.5s 0.5s ease-in-out 1 forwards;
    -ms-animation: margin-small-intro 0.5s 0.5s ease-in-out 1 forwards;
    -o-animation: margin-small-intro 0.5s 0.5s ease-in-out 1 forwards;
    animation: margin-small-intro 0.5s 0.5s ease-in-out 1 forwards;
  }
}
@media only all and (max-width: 479px) {
  main {
    -webkit-animation: margin-small-intro 0.5s 0.5s ease-in-out 1 forwards;
    -moz-animation: margin-small-intro 0.5s 0.5s ease-in-out 1 forwards;
    -ms-animation: margin-small-intro 0.5s 0.5s ease-in-out 1 forwards;
    -o-animation: margin-small-intro 0.5s 0.5s ease-in-out 1 forwards;
    animation: margin-small-intro 0.5s 0.5s ease-in-out 1 forwards;
  }
}
@-webkit-keyframes margin-intro {
  0% {
    margin-top: 100px;
  }
  100% {
    margin-top: 150px;
  }
}
@-moz-keyframes margin-intro {
  0% {
    margin-top: 100px;
  }
  100% {
    margin-top: 150px;
  }
}
@-ms-keyframes margin-intro {
  0% {
    margin-top: 100px;
  }
  100% {
    margin-top: 150px;
  }
}
@-o-keyframes margin-intro {
  0% {
    margin-top: 100px;
  }
  100% {
    margin-top: 150px;
  }
}
@keyframes margin-intro {
  0% {
    margin-top: 100px;
  }
  100% {
    margin-top: 150px;
  }
}
@-webkit-keyframes margin-small-intro {
  0% {
    margin-top: 50px;
  }
  100% {
    margin-top: 150px;
  }
}
@-moz-keyframes margin-small-intro {
  0% {
    margin-top: 50px;
  }
  100% {
    margin-top: 150px;
  }
}
@-ms-keyframes margin-small-intro {
  0% {
    margin-top: 50px;
  }
  100% {
    margin-top: 150px;
  }
}
@-o-keyframes margin-small-intro {
  0% {
    margin-top: 50px;
  }
  100% {
    margin-top: 150px;
  }
}
@keyframes margin-small-intro {
  0% {
    margin-top: 50px;
  }
  100% {
    margin-top: 150px;
  }
}
main .feature {
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  margin-bottom: 30px;
}
main .feature h2 {
  font-family: 'EB Garamond', serif;
  font-weight: 600;
  width: 100%;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 10px;
}
main .overview {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}
main .overview .task-wrapper {
  width: 65%;
}
main .overview .task-wrapper .task-line {
  font-family: 'HKGrotesk', sans-serif;
  font-weight: 600;
  width: 100%;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 10px;
}
main .overview .role-wrapper {
  width: 25%;
}
main .medium-titles {
  font-family: 'HKGrotesk', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-decoration: none;
  margin-bottom: 20px;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  main .medium-titles {
    font-size: 20px;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  main .medium-titles {
    font-size: 20px;
  }
}
@media only all and (max-width: 479px) {
  main .medium-titles {
    font-size: 20px;
  }
}
main .button {
  width: 20%;
  border-radius: 39px;
  margin-left: 40%;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 1px;
  background-color: #F3B34B;
  text-align: center;
  text-transform: uppercase;
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  main .button {
    width: 50%;
    margin-left: 25%;
  }
}
@media only all and (max-width: 479px) {
  main .button {
    width: 50%;
    margin-left: 25%;
  }
}
main .button a {
  font-weight: 600;
  color: black;
  text-decoration: none;
}
main .button a:hover {
  color: white;
}
main .button a:after {
  color: black;
  text-decoration: none;
}
main .small-titles {
  margin-bottom: 20px;
  font-size: 16px;
}
main .p-normal {
  width: 100%;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
  font-weight: 400;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  main .p-normal {
    font-size: 14px;
    line-height: 18px;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  main .p-normal {
    font-size: 14px;
    line-height: 18px;
  }
}
@media only all and (max-width: 479px) {
  main .p-normal {
    font-size: 14px;
    line-height: 18px;
  }
}
main .p-media {
  color: #F8614C;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 5px;
}
main .text-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
main .p-skills {
  font-family: "HKGrotesk", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
main .img-normal {
  width: 100%;
  margin-bottom: 20px;
}
main .vid {
  width: 100%;
  margin-bottom: 20px;
}
main .two-videos {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row;
}
main .divider {
  width: 100%;
  height: 60px;
}
main .iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
main .iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/********* gallery *********/
.gallery {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  overflow: hidden;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  .gallery {
    margin-bottom: 20px;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  .gallery {
    margin-bottom: 20px;
  }
}
@media only all and (max-width: 479px) {
  .gallery {
    margin-bottom: 20px;
  }
}
.gallery .gallery-thumb {
  width: 18%;
  height: auto;
  margin-bottom: 50px;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  .gallery .gallery-thumb {
    margin-bottom: 20px;
    width: 18%;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  .gallery .gallery-thumb {
    margin-bottom: 10px;
    width: 30%;
  }
}
@media only all and (max-width: 479px) {
  .gallery .gallery-thumb {
    margin-bottom: 10px;
    width: 30%;
  }
}
.gallery .gallery-thumb img {
  width: 100%;
  cursor: url("../img/ui/cursor_expand.png"), auto;
}

footer {
  font-family: "HKGrotesk", sans-serif;
  font-weight: 400;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 50px;
  color: #636363;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  footer {
    width: 90%;
    margin-left: 5%;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  footer {
    width: 90%;
    margin-left: 5%;
  }
}
@media only all and (max-width: 479px) {
  footer {
    width: 90%;
    margin-left: 5%;
  }
}
footer p {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  footer p {
    margin-top: 20px;
  }
}
@media only all and (max-width: 479px) {
  footer p {
    margin-top: 20px;
  }
}
footer a {
  font-family: 'EB Garamond', serif;
  margin-bottom: 30px;
  color: #636363;
  font-size: 20px;
  line-height: 24px;
  text-decoration: underline;
  float: right;
  text-transform: none;
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  footer a {
    float: none;
  }
}
@media only all and (max-width: 479px) {
  footer a {
    float: none;
  }
}

/******* lightbox ********/
data-title {
  font-family: "HK HKGrotesk-Medium", sans-serif;
  color: black;
}
