@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk/hkgrotesk-medium.eot");
  src: url("../fonts/hkgrotesk/hkgrotesk-medium.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-medium.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-medium.svg#hkgrotesk-medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk/hkgrotesk-regular.eot");
  src: url("../fonts/hkgrotesk/hkgrotesk-regular.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-regular.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-regular.svg#hkgrotesk-regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk/hkgrotesk-bold.eot");
  src: url("../fonts/hkgrotesk/hkgrotesk-bold.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-bold.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-bold.svg#hkgrotesk-bold") format("svg");
  font-weight: 600;
  font-style: normal;
}
#p5-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#white-fadeIn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: white;
  pointer-events: none;
  -webkit-animation: white-fadeIn 2s ease-in-out 1 forwards;
  -moz-animation: white-fadeIn 2s ease-in-out 1 forwards;
  -ms-animation: white-fadeIn 2s ease-in-out 1 forwards;
  -o-animation: white-fadeIn 2s ease-in-out 1 forwards;
  animation: white-fadeIn 2s ease-in-out 1 forwards;
}
@-webkit-keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  font-family: 'HKGrotesk', sans-serif;
}

nav {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  height: 40px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  -webkit-align-items: center;
  z-index: 5;
}
nav #nav-inner {
  width: 75%;
  margin-left: 12.5%;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: space-between;
}
nav a {
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
}
nav a:hover {
  color: grey;
}
nav a:after {
  color: black;
}
nav .a-navChange {
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
}
nav .a-navChange:hover span {
  display: none;
}
nav .a-navChange:hover:after {
  content: "Work        ";
  white-space: pre;
  color: black;
}

main {
  width: 75%;
  margin-left: 12.5%;
  margin-top: 50px;
  margin-bottom: 100px;
  font-family: 'HKGrotesk', sans-serif;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  main {
    margin-bottom: 40px;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  main {
    margin-bottom: 20px;
  }
}
@media only all and (max-width: 479px) {
  main {
    margin-bottom: 20px;
  }
}
main .feature {
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  main .feature {
    flex-flow: column;
    margin-bottom: 40px;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  main .feature {
    flex-flow: column;
    margin-bottom: 20px;
  }
}
@media only all and (max-width: 479px) {
  main .feature {
    flex-flow: column;
    margin-bottom: 20px;
  }
}
main .feature .feature-img {
  width: 66.6%;
  align-self: center;
  margin-bottom: 20px;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  main .feature .feature-img {
    width: 100%;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  main .feature .feature-img {
    width: 100%;
  }
}
@media only all and (max-width: 479px) {
  main .feature .feature-img {
    width: 100%;
  }
}
main .feature .feature-info {
  width: 30%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  main .feature .feature-info {
    width: 100%;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  main .feature .feature-info {
    width: 100%;
  }
}
@media only all and (max-width: 479px) {
  main .feature .feature-info {
    width: 100%;
  }
}
main .feature h2 {
  font-weight: 600;
  width: 100%;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 10px;
}
main .feature .content-wrapper {
  margin-bottom: 20px;
}
main .feature .info-title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 14px;
  align-self: flex-start;
}
main .feature .info-content {
  font-size: 14px;
  line-height: 20px;
}
main .medium-titles {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 24px;
  text-decoration: underline;
}
main .small-titles {
  margin-bottom: 20px;
  font-size: 16px;
}
main .p-normal {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}
main .img-normal {
  width: 100%;
  margin-bottom: 20px;
}
main .divider {
  width: 100%;
  height: 40px;
}

/********* gallery *********/
.gallery {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  overflow: hidden;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  .gallery {
    margin-bottom: 20px;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  .gallery {
    margin-bottom: 20px;
  }
}
@media only all and (max-width: 479px) {
  .gallery {
    margin-bottom: 20px;
  }
}
.gallery .gallery-thumb {
  width: 18%;
  height: auto;
  margin-bottom: 50px;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  .gallery .gallery-thumb {
    margin-bottom: 20px;
    width: 18%;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  .gallery .gallery-thumb {
    margin-bottom: 10px;
    width: 30%;
  }
}
@media only all and (max-width: 479px) {
  .gallery .gallery-thumb {
    margin-bottom: 10px;
    width: 30%;
  }
}
.gallery .gallery-thumb img {
  width: 100%;
  cursor: url("../img/ui/cursor_expand.png"), auto;
}

footer {
  font-family: "HKGrotesk", sans-serif;
  font-weight: 400;
  width: 75%;
  margin-left: 12.5%;
  margin-bottom: 50px;
  color: #636363;
}
footer p {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  footer p {
    margin-top: 20px;
  }
}
@media only all and (max-width: 479px) {
  footer p {
    margin-top: 20px;
  }
}
footer a {
  margin-bottom: 30px;
  color: #636363;
  font-size: 20px;
  line-height: 24px;
  text-decoration: underline;
  float: right;
  text-transform: none;
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  footer a {
    float: none;
  }
}
@media only all and (max-width: 479px) {
  footer a {
    float: none;
  }
}

/******* lightbox ********/
data-title {
  font-family: "HK HKGrotesk-Medium", sans-serif;
  color: black;
}
