/***** ISSUES TO BE FIXED
1. logo needs to link to the home page
2. remove .html extensions
3. make ABOUT red
4. possibly make the bottom an animation and remove the jquery when its not laptop format
5. responsive issues - the relationship between april ding and nav (and li widths)
6. add $nav--margin-left-mobile-s: VALUEvw;
*****/
@import url("https://fonts.googleapis.com/css?family=Passion+One");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600");
body {
  width: 100vw;
  height: 100vh;
  margin: auto;
  overflow: hidden;
}
body .bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 40vh;
  left: 0;
  z-index: -2;
  background: url("../img/asset-9.png") no-repeat center center;
  background-size: cover;
}
@media (min-width: 1180px) {
  body .bg {
    transform: scale(1.1);
  }
}
body header {
  width: 100%;
  display: flex;
  margin: auto;
}
@media (min-width: 1201px) {
  body header {
    margin-top: 1.5vw;
    margin-left: 3vw;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  body header {
    margin-top: 3vw;
    margin-left: 4vw;
  }
}
@media (min-width: 425px) and (max-width: 800px) {
  body header {
    margin-top: 3vw;
    margin-left: 4vw;
  }
}
@media (max-width: 425px) {
  body header {
    margin-top: 8vw;
    margin-left: 8vw;
  }
}
body header img {
  width: 35px;
  height: 73px;
}
body header h1 {
  margin-top: 1.5vw;
}
@media (min-width: 1201px) {
  body header h1 {
    margin-left: 2vw;
    width: 50%;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  body header h1 {
    margin-left: 2.5vw;
    width: 50%;
  }
}
@media (min-width: 425px) and (max-width: 800px) {
  body header h1 {
    margin-left: 3.5vw;
    width: 30%;
  }
}
@media (max-width: 425px) {
  body header h1 {
    margin-left: 6.5vw;
    width: 30%;
  }
}
body header h1 a {
  text-decoration: none;
  color: black;
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-size: 36px;
}
body header nav {
  width: 100%;
  margin-top: 2.5vw;
}
@media (min-width: 1201px) {
  body header nav {
    margin-left: 41vw;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  body header nav {
    margin-left: 25vw;
  }
}
@media (min-width: 425px) and (max-width: 800px) {
  body header nav {
    margin-left: 10vw;
  }
}
@media (min-width: 365px) and (max-width: 425px) {
  body header nav {
    margin-left: 30vw;
  }
}
@media (max-width: 365px) {
  body header nav {
    margin-left: 20vw;
  }
}
body header nav ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  margin: auto;
}
@media (max-width: 425px) {
  body header nav ul {
    display: block;
  }
}
body header nav ul li {
  text-align: center;
}
@media (max-width: 425px) {
  body header nav ul li {
    text-align: right;
    line-height: 1.5;
  }
}
@media (min-width: 1201px) {
  body header nav ul li {
    width: 8vw;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  body header nav ul li {
    width: 10.5vw;
  }
}
@media (min-width: 425px) and (max-width: 800px) {
  body header nav ul li {
    width: 14vw;
  }
}
@media (max-width: 425px) {
  body header nav ul li {
    width: 100px;
  }
}
body header nav ul li a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  line-height: solid;
  font-size: 16px;
}
@media (max-width: 800px) {
  body header nav ul li a {
    font-size: 12px;
  }
}
body header nav ul li a:hover {
  color: grey;
}
body header nav ul li:last-child a {
  color: red;
}
body #particle-container {
  z-index: -1;
}
body .particle {
  position: absolute;
  border-radius: 50%;
}
@keyframes particle-animation-1 {
  100% {
    transform: translate3d(23vw, 39vh, 60px);
  }
}
body .particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.01;
  height: 7px;
  width: 7px;
  animation-delay: -0.5s;
  transform: translate3d(42vw, 19vh, 237px);
  background: red;
}
@keyframes particle-animation-2 {
  100% {
    transform: translate3d(41vw, 88vh, 91px);
  }
}
body .particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.38;
  height: 7px;
  width: 7px;
  animation-delay: -1s;
  transform: translate3d(47vw, 67vh, 195px);
  background: red;
}
@keyframes particle-animation-3 {
  100% {
    transform: translate3d(82vw, 26vh, 72px);
  }
}
body .particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.48;
  height: 7px;
  width: 7px;
  animation-delay: -1.5s;
  transform: translate3d(76vw, 26vh, 108px);
  background: red;
}
@keyframes particle-animation-4 {
  100% {
    transform: translate3d(53vw, 84vh, 21px);
  }
}
body .particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.16;
  height: 12px;
  width: 12px;
  animation-delay: -2s;
  transform: translate3d(12vw, 82vh, 270px);
  background: red;
}
@keyframes particle-animation-5 {
  100% {
    transform: translate3d(66vw, 7vh, 24px);
  }
}
body .particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.34;
  height: 8px;
  width: 8px;
  animation-delay: -2.5s;
  transform: translate3d(57vw, 31vh, 126px);
  background: red;
}
@keyframes particle-animation-6 {
  100% {
    transform: translate3d(87vw, 26vh, 50px);
  }
}
body .particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.02;
  height: 7px;
  width: 7px;
  animation-delay: -3s;
  transform: translate3d(71vw, 90vh, 258px);
  background: red;
}
@keyframes particle-animation-7 {
  100% {
    transform: translate3d(88vw, 87vh, 17px);
  }
}
body .particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.07;
  height: 12px;
  width: 12px;
  animation-delay: -3.5s;
  transform: translate3d(67vw, 85vh, 213px);
  background: red;
}
@keyframes particle-animation-8 {
  100% {
    transform: translate3d(14vw, 14vh, 36px);
  }
}
body .particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.37;
  height: 12px;
  width: 12px;
  animation-delay: -4s;
  transform: translate3d(88vw, 6vh, 84px);
  background: red;
}
@keyframes particle-animation-9 {
  100% {
    transform: translate3d(20vw, 42vh, 69px);
  }
}
body .particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.07;
  height: 8px;
  width: 8px;
  animation-delay: -4.5s;
  transform: translate3d(46vw, 75vh, 132px);
  background: red;
}
@keyframes particle-animation-10 {
  100% {
    transform: translate3d(76vw, 48vh, 67px);
  }
}
body .particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.14;
  height: 9px;
  width: 9px;
  animation-delay: -5s;
  transform: translate3d(78vw, 70vh, 225px);
  background: red;
}
@keyframes particle-animation-11 {
  100% {
    transform: translate3d(58vw, 58vh, 39px);
  }
}
body .particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.17;
  height: 6px;
  width: 6px;
  animation-delay: -5.5s;
  transform: translate3d(81vw, 60vh, 102px);
  background: red;
}
@keyframes particle-animation-12 {
  100% {
    transform: translate3d(3vw, 48vh, 3px);
  }
}
body .particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.24;
  height: 12px;
  width: 12px;
  animation-delay: -6s;
  transform: translate3d(1vw, 82vh, 282px);
  background: red;
}
@keyframes particle-animation-13 {
  100% {
    transform: translate3d(61vw, 12vh, 56px);
  }
}
body .particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.09;
  height: 12px;
  width: 12px;
  animation-delay: -6.5s;
  transform: translate3d(3vw, 13vh, 90px);
  background: red;
}
@keyframes particle-animation-14 {
  100% {
    transform: translate3d(15vw, 87vh, 96px);
  }
}
body .particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.44;
  height: 11px;
  width: 11px;
  animation-delay: -7s;
  transform: translate3d(8vw, 46vh, 258px);
  background: red;
}
@keyframes particle-animation-15 {
  100% {
    transform: translate3d(61vw, 28vh, 80px);
  }
}
body .particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.1;
  height: 10px;
  width: 10px;
  animation-delay: -7.5s;
  transform: translate3d(11vw, 65vh, 285px);
  background: red;
}
@keyframes particle-animation-16 {
  100% {
    transform: translate3d(37vw, 29vh, 98px);
  }
}
body .particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.32;
  height: 7px;
  width: 7px;
  animation-delay: -8s;
  transform: translate3d(56vw, 10vh, 147px);
  background: red;
}
@keyframes particle-animation-17 {
  100% {
    transform: translate3d(33vw, 20vh, 79px);
  }
}
body .particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.03;
  height: 11px;
  width: 11px;
  animation-delay: -8.5s;
  transform: translate3d(68vw, 43vh, 267px);
  background: red;
}
@keyframes particle-animation-18 {
  100% {
    transform: translate3d(72vw, 53vh, 85px);
  }
}
body .particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.27;
  height: 9px;
  width: 9px;
  animation-delay: -9s;
  transform: translate3d(47vw, 83vh, 99px);
  background: red;
}
@keyframes particle-animation-19 {
  100% {
    transform: translate3d(23vw, 86vh, 26px);
  }
}
body .particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.05;
  height: 11px;
  width: 11px;
  animation-delay: -9.5s;
  transform: translate3d(42vw, 65vh, 102px);
  background: red;
}
@keyframes particle-animation-20 {
  100% {
    transform: translate3d(3vw, 24vh, 32px);
  }
}
body .particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.1;
  height: 8px;
  width: 8px;
  animation-delay: -10s;
  transform: translate3d(68vw, 87vh, 291px);
  background: red;
}
@keyframes particle-animation-21 {
  100% {
    transform: translate3d(73vw, 4vh, 65px);
  }
}
body .particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.45;
  height: 12px;
  width: 12px;
  animation-delay: -10.5s;
  transform: translate3d(43vw, 2vh, 108px);
  background: red;
}
@keyframes particle-animation-22 {
  100% {
    transform: translate3d(23vw, 3vh, 21px);
  }
}
body .particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.12;
  height: 6px;
  width: 6px;
  animation-delay: -11s;
  transform: translate3d(55vw, 42vh, 231px);
  background: red;
}
@keyframes particle-animation-23 {
  100% {
    transform: translate3d(7vw, 51vh, 89px);
  }
}
body .particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.06;
  height: 7px;
  width: 7px;
  animation-delay: -11.5s;
  transform: translate3d(58vw, 22vh, 24px);
  background: red;
}
@keyframes particle-animation-24 {
  100% {
    transform: translate3d(33vw, 25vh, 1px);
  }
}
body .particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.36;
  height: 10px;
  width: 10px;
  animation-delay: -12s;
  transform: translate3d(52vw, 84vh, 45px);
  background: red;
}
@keyframes particle-animation-25 {
  100% {
    transform: translate3d(63vw, 53vh, 72px);
  }
}
body .particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.03;
  height: 7px;
  width: 7px;
  animation-delay: -12.5s;
  transform: translate3d(58vw, 36vh, 300px);
  background: red;
}
