@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk/hkgrotesk-medium.eot");
  src: url("../fonts/hkgrotesk/hkgrotesk-medium.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-medium.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-medium.svg#hkgrotesk-medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk/hkgrotesk-regular.eot");
  src: url("../fonts/hkgrotesk/hkgrotesk-regular.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-regular.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-regular.svg#hkgrotesk-regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk/hkgrotesk-bold.eot");
  src: url("../fonts/hkgrotesk/hkgrotesk-bold.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-bold.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-bold.svg#hkgrotesk-bold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk/hkgrotesk-italic.eot");
  src: url("../fonts/hkgrotesk/hkgrotesk-italic.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-italic.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-bold.svg#hkgrotesk-italic") format("svg");
  font-weight: 400;
  font-style: italic;
}
#white-fadeIn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #FBF2F2;
  pointer-events: none;
  -webkit-animation: white-fadeIn 1s ease-in-out 1 forwards;
  -moz-animation: white-fadeIn 1s ease-in-out 1 forwards;
  -ms-animation: white-fadeIn 1s ease-in-out 1 forwards;
  -o-animation: white-fadeIn 1s ease-in-out 1 forwards;
  animation: white-fadeIn 1s ease-in-out 1 forwards;
}
@-webkit-keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes white-fadeIn {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  background-color: #FBF2F2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  font-family: 'HKGrotesk', sans-serif;
}

#p5-canvas {
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

nav {
  z-index: 5;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  position: sticky;
  position: -webkit-sticky;
  top: 20px;
  width: 95%;
  left: 2.5%;
  height: 40px;
}
nav #nav-inner {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
nav #nav-inner #nav-name {
  width: 12%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
nav #nav-inner #nav-name .svg-container {
  height: 30px;
}
nav #nav-inner #nav-name .svg-container #logo {
  height: 30px;
}
nav #nav-inner #nav-name .a-name {
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  nav #nav-inner #nav-name .a-name {
    display: none;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  nav #nav-inner #nav-name .a-name {
    display: none;
  }
}
@media only all and (max-width: 479px) {
  nav #nav-inner #nav-name .a-name {
    display: none;
  }
}
nav #nav-inner #nav-name .a-name:hover {
  color: grey;
}
nav #nav-inner #nav-name .a-name:after {
  color: black;
}
nav #nav-inner a {
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
}
nav #nav-inner a:hover {
  color: grey;
}
nav #nav-inner a:after {
  color: black;
}

#nav-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #FBF2F2;
  -webkit-animation: bio-intro 1s 0.5s ease-in-out 1 forwards;
  -moz-animation: bio-intro 1s 0.5s ease-in-out 1 forwards;
  -ms-animation: bio-intro 1s 0.5s ease-in-out 1 forwards;
  -o-animation: bio-intro 1s 0.5s ease-in-out 1 forwards;
  animation: bio-intro 1s 0.5s ease-in-out 1 forwards;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  #nav-bg {
    -webkit-animation: bio-medium-intro 1s 0.5s ease-in-out 1 forwards;
    -moz-animation: bio-medium-intro 1s 0.5s ease-in-out 1 forwards;
    -ms-animation: bio-medium-intro 1s 0.5s ease-in-out 1 forwards;
    -o-animation: bio-medium-intro 1s 0.5s ease-in-out 1 forwards;
    animation: bio-medium-intro 1s 0.5s ease-in-out 1 forwards;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  #nav-bg {
    -webkit-animation: bio-small-intro 1s 0.5s ease-in-out 1 forwards;
    -moz-animation: bio-small-intro 1s 0.5s ease-in-out 1 forwards;
    -ms-animation: bio-small-intro 1s 0.5s ease-in-out 1 forwards;
    -o-animation: bio-small-intro 1s 0.5s ease-in-out 1 forwards;
    animation: bio-small-intro 1s 0.5s ease-in-out 1 forwards;
  }
}
@media only all and (max-width: 479px) {
  #nav-bg {
    -webkit-animation: bio-small-intro 1s 0.5s ease-in-out 1 forwards;
    -moz-animation: bio-small-intro 1s 0.5s ease-in-out 1 forwards;
    -ms-animation: bio-small-intro 1s 0.5s ease-in-out 1 forwards;
    -o-animation: bio-small-intro 1s 0.5s ease-in-out 1 forwards;
    animation: bio-small-intro 1s 0.5s ease-in-out 1 forwards;
  }
}
@-webkit-keyframes bio-intro {
  0% {
    width: 100vw;
    height: 100vh;
    background-color: #FBF2F2;
  }
  30% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  50% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  100% {
    width: 100vw;
    height: 0;
  }
}
@-moz-keyframes bio-intro {
  0% {
    width: 100vw;
    height: 100vh;
    background-color: #FBF2F2;
  }
  30% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  50% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  100% {
    width: 100vw;
    height: 0;
  }
}
@-ms-keyframes bio-intro {
  0% {
    width: 100vw;
    height: 100vh;
    background-color: #FBF2F2;
  }
  30% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  50% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  100% {
    width: 100vw;
    height: 0;
  }
}
@-o-keyframes bio-intro {
  0% {
    width: 100vw;
    height: 100vh;
    background-color: #FBF2F2;
  }
  30% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  50% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  100% {
    width: 100vw;
    height: 0;
  }
}
@keyframes bio-intro {
  0% {
    width: 100vw;
    height: 100vh;
    background-color: #FBF2F2;
  }
  30% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  50% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  100% {
    width: 100vw;
    height: 0;
  }
}
@-webkit-keyframes bio-medium-intro {
  0% {
    width: 100vw;
    height: 100vh;
    background-color: #FBF2F2;
  }
  30% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  50% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  100% {
    width: 100vw;
    height: 0;
  }
}
@-moz-keyframes bio-medium-intro {
  0% {
    width: 100vw;
    height: 100vh;
    background-color: #FBF2F2;
  }
  30% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  50% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  100% {
    width: 100vw;
    height: 0;
  }
}
@-ms-keyframes bio-medium-intro {
  0% {
    width: 100vw;
    height: 100vh;
    background-color: #FBF2F2;
  }
  30% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  50% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  100% {
    width: 100vw;
    height: 0;
  }
}
@-o-keyframes bio-medium-intro {
  0% {
    width: 100vw;
    height: 100vh;
    background-color: #FBF2F2;
  }
  30% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  50% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  100% {
    width: 100vw;
    height: 0;
  }
}
@keyframes bio-medium-intro {
  0% {
    width: 100vw;
    height: 100vh;
    background-color: #FBF2F2;
  }
  30% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  50% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  100% {
    width: 100vw;
    height: 0;
  }
}
@-webkit-keyframes bio-small-intro {
  0% {
    width: 100vw;
    height: 100vh;
    background-color: #FBF2F2;
  }
  30% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  50% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  100% {
    width: 100vw;
    height: 0;
  }
}
@-moz-keyframes bio-small-intro {
  0% {
    width: 100vw;
    height: 100vh;
    background-color: #FBF2F2;
  }
  30% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  50% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  100% {
    width: 100vw;
    height: 0;
  }
}
@-ms-keyframes bio-small-intro {
  0% {
    width: 100vw;
    height: 100vh;
    background-color: #FBF2F2;
  }
  30% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  50% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  100% {
    width: 100vw;
    height: 0;
  }
}
@-o-keyframes bio-small-intro {
  0% {
    width: 100vw;
    height: 100vh;
    background-color: #FBF2F2;
  }
  30% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  50% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  100% {
    width: 100vw;
    height: 0;
  }
}
@keyframes bio-small-intro {
  0% {
    width: 100vw;
    height: 100vh;
    background-color: #FBF2F2;
  }
  30% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  50% {
    width: 100vw;
    height: 100vh;
    background-color: #F8614C;
  }
  100% {
    width: 100vw;
    height: 0;
  }
}
main {
  top: 0;
  width: 75%;
  margin-left: 12.5%;
  margin-top: 0;
  margin-bottom: 40px;
  -webkit-animation: margin-intro 0.5s 1s ease-in-out 1 forwards;
  -moz-animation: margin-intro 0.5s 1s ease-in-out 1 forwards;
  -ms-animation: margin-intro 0.5s 1s ease-in-out 1 forwards;
  -o-animation: margin-intro 0.5s 1s ease-in-out 1 forwards;
  animation: margin-intro 0.5s 1s ease-in-out 1 forwards;
  font-weight: 500;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  main {
    width: 90%;
    margin-left: 5%;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  main {
    width: 90%;
    margin-left: 5%;
  }
}
@media only all and (max-width: 479px) {
  main {
    width: 90%;
    margin-left: 5%;
  }
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  main {
    -webkit-animation: margin-intro 0.5s 1s ease-in-out 1 forwards;
    -moz-animation: margin-intro 0.5s 1s ease-in-out 1 forwards;
    -ms-animation: margin-intro 0.5s 1s ease-in-out 1 forwards;
    -o-animation: margin-intro 0.5s 1s ease-in-out 1 forwards;
    animation: margin-intro 0.5s 1s ease-in-out 1 forwards;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  main {
    -webkit-animation: margin-small-intro 0.5s 1s ease-in-out 1 forwards;
    -moz-animation: margin-small-intro 0.5s 1s ease-in-out 1 forwards;
    -ms-animation: margin-small-intro 0.5s 1s ease-in-out 1 forwards;
    -o-animation: margin-small-intro 0.5s 1s ease-in-out 1 forwards;
    animation: margin-small-intro 0.5s 1s ease-in-out 1 forwards;
  }
}
@media only all and (max-width: 479px) {
  main {
    -webkit-animation: margin-small-intro 0.5s 1s ease-in-out 1 forwards;
    -moz-animation: margin-small-intro 0.5s 1s ease-in-out 1 forwards;
    -ms-animation: margin-small-intro 0.5s 1s ease-in-out 1 forwards;
    -o-animation: margin-small-intro 0.5s 1s ease-in-out 1 forwards;
    animation: margin-small-intro 0.5s 1s ease-in-out 1 forwards;
  }
}
@-webkit-keyframes margin-intro {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 100px;
  }
}
@-moz-keyframes margin-intro {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 100px;
  }
}
@-ms-keyframes margin-intro {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 100px;
  }
}
@-o-keyframes margin-intro {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 100px;
  }
}
@keyframes margin-intro {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 100px;
  }
}
@-webkit-keyframes margin-small-intro {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 50px;
  }
}
@-moz-keyframes margin-small-intro {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 50px;
  }
}
@-ms-keyframes margin-small-intro {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 50px;
  }
}
@-o-keyframes margin-small-intro {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 50px;
  }
}
@keyframes margin-small-intro {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 50px;
  }
}
main #bio {
  font-weight: 400;
  font-style: italic;
  width: 100%;
  font-size: 30px;
  line-height: 36px;
  color: black;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}
@media only all and (max-width: 479px) {
  main #bio {
    font-size: 30px;
    line-height: 34px;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  main #bio {
    font-size: 30px;
    line-height: 34px;
  }
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  main #bio {
    font-size: 30px;
    line-height: 34px;
  }
}
main .projects-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
main .projects-wrapper .project {
  width: 100%;
  position: relative;
  margin-top: 100px;
  border-bottom: 1px solid black;
}
main .projects-wrapper .project .small-titles {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
main .projects-wrapper .project .small-titles a {
  text-decoration: none;
  color: black;
  outline: none;
}
main .projects-wrapper .project .p-normal {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}
main .projects-wrapper .project img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  opacity: 1;
  transition: 0.5s;
  display: block;
}
main .projects-wrapper .project .read-more {
  color: black;
  text-decoration: underline;
  float: right;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;
}
main .projects-wrapper .project .read-more a {
  color: black;
  outline: none;
  text-decoration: none;
}

footer {
  font-family: "HKGrotesk", sans-serif;
  font-weight: 400;
  width: 75%;
  margin-left: 12.5%;
  margin-bottom: 50px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #636363;
}
@media only all and (min-width: 768px) and (max-width: 1048px) {
  footer {
    width: 90%;
    margin-left: 5%;
  }
}
@media only all and (min-width: 480px) and (max-width: 767px) {
  footer {
    width: 90%;
    margin-left: 5%;
  }
}
@media only all and (max-width: 479px) {
  footer {
    width: 90%;
    margin-left: 5%;
  }
}

data-title {
  font-family: "HKGrotesk", sans-serif;
  color: black;
}
