@import url("https://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@font-face {
  font-family: "HKGrotesk-Medium";
  src: url("../fonts/hkgrotesk/hkgrotesk-medium.eot");
  src: url("../fonts/hkgrotesk/hkgrotesk-medium.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-medium.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-medium.svg#hkgrotesk-medium") format("svg");
}
.animated-header {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInTop {
  -webkit-animation-name: fadeInTop;
  animation-name: fadeInTop;
}

#p5-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#nav-white-space {
  width: 100%;
  height: 70px;
}

nav.isSticky {
  background-color: white;
}

nav {
  width: 100%;
  height: 60px;
  top: -1px;
  left: 0;
  display: flex;
  justify-content: center;
  position: sticky;
  padding-top: 1px;
  z-index: 5;
}
nav #nav-smallwrapper {
  width: 75%;
  font-family: 'HKGrotesk-Medium', sans-serif;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: baseline;
  justify-content: space-between;
}
nav #nav-smallwrapper #nav-headers {
  width: 15%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: 22px;
}
nav #nav-smallwrapper #nav-headers .dot {
  height: 6px;
  width: 6px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  align-self: center;
}
nav #nav-smallwrapper h1 {
  font-size: 30px;
  text-decoration: underline;
  text-align: right;
}

/************ old Nav Code *************/
main {
  width: 75%;
  margin-left: 12.5%;
  margin-top: 100px;
  margin-bottom: 200px;
  font-family: 'HKGrotesk-Medium', sans-serif;
}
main #bio {
  font-size: 36px;
  line-height: 56px;
  margin-bottom: 120px;
  color: #636363;
}
main #small-titles {
  margin-bottom: 40px;
  font-size: 20px;
  text-decoration: underline;
}
main .selected-projects {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
main .selected-projects .project-thumb {
  width: 100%;
  border: 1px solid black;
  position: relative;
}
main .selected-projects .project-thumb img {
  width: 100%;
  opacity: 1;
  transition: 0.5s;
}
main .selected-projects .project-thumb .selected-project-overlay-colorbox-blue {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 100%;
  border: 1px solid black;
  background-color: #1289F6;
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  transition: width 0.5s, left 0.5s;
}
main .selected-projects .project-thumb .selected-project-overlay-colorbox-green {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 100%;
  border: 1px solid black;
  background-color: #219653;
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  transition: width 0.5s, left 0.5s;
}
main .selected-projects .project-thumb .selected-project-overlay-colorbox-orange {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 100%;
  border: 1px solid black;
  background-color: #FF613F;
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  transition: width 0.5s, left 0.5s;
}
main .selected-projects .project-thumb .selected-project-overlay-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 20%;
  height: 100%;
  top: 0;
  left: 80%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 0.5s;
  font-size: 36px;
  line-height: 56px;
}
main .selected-projects .project-thumb .selected-project-overlay-title {
  color: black;
  z-index: 1;
  padding: 10px;
}
main .selected-projects .project-thumb .selected-project-overlay-media {
  color: white;
  z-index: 1;
  padding: 10px;
}
main .selected-projects .project-thumb:hover img {
  opacity: 0.3;
}
main .selected-projects .project-thumb:hover .selected-project-overlay-colorbox-blue {
  opacity: 1;
  width: 20%;
  left: 80%;
}
main .selected-projects .project-thumb:hover .selected-project-overlay-colorbox-green {
  opacity: 1;
  width: 20%;
  left: 80%;
}
main .selected-projects .project-thumb:hover .selected-project-overlay-colorbox-orange {
  opacity: 1;
  width: 20%;
  left: 80%;
}
main .selected-projects .project-thumb:hover .selected-project-overlay-text {
  opacity: 1;
}

/************************ Hover React Boxes ************************/
