@import url("https://fonts.googleapis.com/css?family=Passion+One");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");


// =========================================================
// Variables
// =========================================================
$nav--font-family: 'Josefin Sans', sans-serif;
$nav--font-weight: 400;
$nav--font-size: 18px;

$nav--margin-top-laptop: 3.5vh;
$nav--margin-left-laptop: 3.5vw;
$nav--margin-top-tablet: 3vh;
$nav--margin-left-tablet: 2.5vw;
$nav--margin-top-mobile: 8vw;
$nav--margin-left-mobile: 8vw;
// =========================================================
// Grid Variables
// =========================================================
$grid--column-width: 60px;
$grid--gutter-width: 20px;
$grid--unit:         ($grid--column-width + $grid--gutter-width);

// =========================================================
// Breakpoints
// =========================================================
$breakpoint--laptop-r: $grid--unit * 15;//1200
$breakpoint--tablet: $grid--unit * 10; //800
$breakpoint--mobile-r: $grid--unit * 5 + 25; //425
$breakpoint--mobile-s: $grid--unit * 4 + 45; //350


//actual scss

body {

   background-color: white;
   // margin: auto;

   nav{
      width: 15%;
      position: fixed;


      //adjust top and left margin based on the viewport size
      // @media (min-width: $breakpoint--laptop-r + 1) {
      //    margin-top: $nav--margin-top-laptop;
      //    margin-left: $nav--margin-left-laptop;
      // }
      // @media (min-width: $breakpoint--tablet + 1) and (max-width: $breakpoint--laptop-r) {
      //    margin-top: $nav--margin-top-tablet;
      //    margin-left: $nav--margin-left-tablet;
      // }
      // @media (min-width: $breakpoint--mobile-r) and (max-width: $breakpoint--tablet) {
      //    margin-top: $nav--margin-top-tablet;
      //    margin-left: $nav--margin-left-tablet;
      // }
      // @media (max-width: $breakpoint--mobile-r){
      //    margin-top: $nav--margin-top-mobile;
      //    margin-left: $nav--margin-left-mobile;
      // }

      margin-left: 60px;

      #nav-logo{
         img{
            height: 90vh;
         }
      }

      #nav-text{

         h1.page-title{
            padding-bottom: 20px;
            a{
               font-family: $nav--font-family;
               font-weight: $nav--font-weight;
               color: black;

               text-transform: uppercase;
               text-decoration: none;
               line-height: solid;

               font-size: 18px;
               &:hover{
                  color: red;
               }
            }
         }


         ul{
            li{
               a{
                  font-family: $nav--font-family;
                  font-weight: $nav--font-weight;
                  color: crimson;

                  text-transform: uppercase;
                  text-decoration: none;
                  line-height: 50px;
                  letter-spacing: .05em;

                  font-size: 14px;
                  &:hover{
                     color: grey;
                  }
               }

            }

            ul.project-list{
               // margin-left: 10px;
               border-left: 1px solid lightgrey;
               padding-left: 10px;
               li{

                  font-family: $nav--font-family;
                  font-weight: $nav--font-weight;
                  color: lightgrey;

                  text-transform: uppercase;
                  text-decoration: none;
                  line-height: 40px;
                  letter-spacing: .05em;


                  font-size: 12px;
                  &:hover{
                     color: grey;
                  }

               }


            }
         }
      }

   }

   main{
      width: 50%;
      margin-left: 25%;
      margin-top: 20px;


      // border: 1px solid red;
   }
}

#this-page--title-description{
   width: 100%;
   margin: auto;
   margin-top: 50px;
   padding-bottom: 20px;
   // border-bottom: 1px solid lightgrey;
   background-color: snow;
   h2{
      width: 90%;
      margin: auto;
      padding-top: 20px;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 600;
      color: crimson;
      letter-spacing: .4rem;

      margin-bottom: 26px;

      font-size: 16px;
   }
   p{
      width: 90%;
      margin: auto;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      color: grey;

      line-height: 26px;

      font-size: 14px;
   }
}

.one-project{
   // border: 1px solid green;
   display: block;
   width: 100%;
   margin: auto;
   padding-top: 4vh;
   padding-bottom: 4vh;
   border-bottom: 1px dotted lightgrey;
   .thumbnail{
      width: 100%;
      height: auto;

      .thumbnail-img{
         width: 100%;
      }
   }


   .project-title{

      margin-bottom: 10px;
      font-family: $nav--font-family;
      font-weight: 600;
      color: crimson;

      text-transform: uppercase;
      text-decoration: none;
      line-height: 35px;
      letter-spacing: .4rem;

      font-size: 20px;
   }
   .project-description{
      font-family: 'Open Sans', sans-serif;
      font-weight: $nav--font-weight;
      color: darkgrey;
      line-height: 26px;
      margin-bottom: 20px;

      font-size: 14px;
   }
}



/*****OLD FORMAT
.one-project:nth-child(odd){
   // border: 1px solid green;
   display: block;
   width: 100%;
   margin: auto;
   padding-top: 4vh;
   padding-bottom: 4vh;
   border-bottom: 1px dotted lightgrey;
   .thumbnail{
      width: 100%;
      height: auto;
      margin-left: 5%;
      .thumbnail-img{
         width: 100%;
      }
   }

   .title-and-description{
      width: 45%;
   }
   .project-title{
      margin-bottom: 20px;
      font-family: $nav--font-family;
      font-weight: $nav--font-weight;
      color: lightcoral;

      text-transform: uppercase;
      text-decoration: none;
      line-height: 35px;

      font-size: 22px;
   }
   .project-description{
      font-family: 'Open Sans', sans-serif;
      font-weight: $nav--font-weight;
      color: darkgrey;
      line-height: 26px;

      font-size: 16px;
   }
}

.one-project:nth-child(even){
   display: block;
   width: 100%;
   margin: auto;
   padding-top: 4vh;
   padding-bottom: 4vh;
   border-bottom: 1px dotted lightgrey;
   .thumbnail{
      width: 100%;
      height: auto;
      margin-right: 5%;
      .thumbnail-img{
         width: 100%;
      }
   }
   .title-and-description{
      width: 45%;
   }
   .project-title{
      text-align: right;
      margin-bottom: 20px;
      font-family: $nav--font-family;
      font-weight: $nav--font-weight;
      color: lightcoral;

      text-transform: uppercase;
      text-decoration: none;
      line-height: 35px;

      font-size: 22px;
   }
   .project-description{
      text-align: right;
      font-family: 'Open Sans', sans-serif;
      font-weight: $nav--font-weight;
      color: darkgrey;
      line-height: 26px;

      font-size: 16px;
   }
}
****OLD FORMAT****/
