@font-face {
   font-family: "HKGrotesk";
   src: url("../fonts/hkgrotesk/hkgrotesk-medium.eot");
   src: url("../fonts/hkgrotesk/hkgrotesk-medium.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-medium.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-medium.svg#hkgrotesk-medium") format("svg");
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: "HKGrotesk";
   src: url("../fonts/hkgrotesk/hkgrotesk-regular.eot");
   src: url("../fonts/hkgrotesk/hkgrotesk-regular.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-regular.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-regular.svg#hkgrotesk-regular") format("svg");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "HKGrotesk";
   src: url("../fonts/hkgrotesk/hkgrotesk-bold.eot");
   src: url("../fonts/hkgrotesk/hkgrotesk-bold.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-bold.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-bold.svg#hkgrotesk-bold") format("svg");
   font-weight: 600;
   font-style: normal;
}
//=========================================================
// ANIMATION MIXIN
//=========================================================
@mixin keyframes($animation-name) {
   @-webkit-keyframes #{$animation-name} {
      @content;
   }
   @-moz-keyframes #{$animation-name} {
      @content;
   }
   @-ms-keyframes #{$animation-name} {
      @content;
   }
   @-o-keyframes #{$animation-name} {
      @content;
   }
   @keyframes #{$animation-name} {
      @content;
   }
}
@mixin animation($str) {
   -webkit-animation: #{$str};
   -moz-animation: #{$str};
   -ms-animation: #{$str};
   -o-animation: #{$str};
   animation: #{$str};
}
// =========================================================
// Breakpoints
// =========================================================
@mixin bp-Xlarge {
   @media only screen and (min-width: 1691px) {
      @content;
   }
}
@mixin bp-large {
   @media only all and (min-width: 1041px)and(max-width: 1690px) {
      @content;
   }
}
@mixin bp-medium {
   @media only all and (min-width: 768px) and (max-width: 1048px) {
      @content;
   }
}
@mixin bp-small {
   @media only all and (min-width: 480px) and (max-width: 767px) {
      @content;
   }
}
@mixin bp-Xsmall {
   @media only all and (max-width: 479px) {
      @content;
   }
}
// =========================================================
// p5 CANVAS
// =========================================================

#p5-canvas {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
}

#white-fadeIn {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 100;
   background-color: white;
   pointer-events: none;
   @include animation('white-fadeIn 2s ease-in-out 1 forwards');
   @include keyframes(white-fadeIn) {
      0% {
         opacity: 1;
      }

      100% {
         opacity: 0;
      }
   }
}
// =========================================================
// Nav
// =========================================================

body {
   background-color: #f4f4f4;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   overflow-x: hidden;
   font-family: 'HKGrotesk', sans-serif;
}

nav {
   //text styles
   font-size: 15px;
   font-weight: 600;
   text-transform: uppercase;
   color: black;
   background-color: white;
   //position
   position: sticky;
   position: -webkit-sticky;
   top: 0;
   width: 100%;
   height: 40px;
   display: flex;
   flex-flow: row wrap;
   align-content: center;
   -webkit-align-items: center;
   z-index: 5;
   // @include animation('nav-margin-intro 0.5s 1s ease-in-out 1 forwards');
   //
   // @include bp-Xsmall{
   //    @include animation('nav-margin-small-intro 0.5s 1s ease-in-out 1 forwards');
   // }
   //
   // @include keyframes(nav-margin-intro) {
   //    0% {
   //       margin-top: 0;
   //    }
   //    100% {
   //       margin-top: 80px;
   //    }
   // }
   // @include keyframes(nav-margin-small-intro) {
   //    0% {
   //       margin-top: 0;
   //    }
   //    100% {
   //       margin-top: 50px;
   //    }
   // }
   #nav-inner {
      width: 75%;
      margin-left: 12.5%;
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
      justify-content: space-between;
   }

   a {
      color: black;
      text-decoration: none;
      letter-spacing: 1px;

      &:after {
         color: black;
      }
   }
}
// ******************************
// Main
// ******************************

main {
   //position
   top: 0;
   left: 0;
   width: 75%;
   margin-left: 12.5%;
   margin-top: 100px;
   font-weight: 500;
   @include bp-Xsmall {
      margin-top: 50px;
   }
   @include bp-small {
      margin-top: 50px;
   }
   @include bp-medium {
      margin-top: 100px;
   }

   #bio {
      font-weight: 400;
      width: 100%;
      margin-bottom: 120px;
      font-size: 36px;
      line-height: 46px;
      color: #636363;
      z-index: 4;

      p {
         padding-bottom: 20px;
      }
      @include bp-Xsmall {
         margin-top: 10px;
         font-size: 24px;
         line-height: 30px;
         margin-bottom: 60px;
      }
      @include bp-small {
         margin-top: 20px;
         font-size: 24px;
         line-height: 30px;
         margin-bottom: 60px;
      }
      @include bp-medium {
         margin-top: 24px;
         font-size: 30px;
         line-height: 34px;
         margin-bottom: 80px;
      }
      @include bp-Xlarge {
         margin-top: 20px;
         font-size: 40px;
         line-height: 50px;
         margin-bottom: 120px;
      }
   }

   #typewriter {
      font-weight: 400;
      width: 100%;
      margin-bottom: 120px;
      font-size: 36px;
      line-height: 46px;
      color: #636363;
      z-index: 4;
      overflow: hidden;
      /* Ensures the content is not revealed until the animation */
      border-right: 0.15em solid orange;
      /* The typwriter cursor */
      white-space: nowrap;
      /* Keeps the content on a single line */
      margin: 0 auto;
      /* Gives that scrolling effect as the typing happens */
      //letter-spacing: 0.15em;
      /* Adjust as needed */
      animation: typing 7s steps(40, end), blink-caret 0.75s step-end infinite;
      @keyframes typing {
         from {
            width: 0;
         }
         to {
            width: 100%;
         }
      }
      @keyframes blink-caret {
         from,
         to {
            border-color: transparent;
         }
         50% {
            border-color: orange;
         }
      }
   }

   #info-wrapper {
      border-top: 1px solid black;
      width: 100%;
      padding-top: 20px;
      margin-bottom: 30px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      @include bp-Xsmall {}
      @include bp-small {}
      @include bp-medium {}

      .content-wrapper {
         margin-bottom: 20px;
      }

      .title {
         font-weight: 600;
         margin-bottom: 10px;
      }

      .content {
         color: black;
         font-size: 15px;
         line-height: 24px;
      }

      a {
         color: black;
         font-size: 15px;
         line-height: 24px;
         text-decoration: none;

         &:hover {
            color: grey;
         }

         &:after {
            color: black;
            text-decoration: none;
         }
      }
   }
}
//end of main

footer {
   font-weight: 400;
   width: 75%;
   margin-left: 12.5%;
   margin-bottom: 50px;
   font-size: 12px;
   line-height: 20px;
   text-transform: uppercase;
   color: #636363;
}
