// ******************************
// Variables
// ******************************
$color-blue: #1289F6;
$color-green: #219653;
$color-orange: #FF613F;
$color-darkgrey: #636363;
$color-red: #F8614C;
$bg-color: white;
$intro-animation-length: 2s;

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@font-face {
   font-family: "HKGrotesk";
   src: url("../fonts/hkgrotesk/hkgrotesk-medium.eot");
   src: url("../fonts/hkgrotesk/hkgrotesk-medium.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-medium.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-medium.svg#hkgrotesk-medium") format("svg");
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: "HKGrotesk";
   src: url("../fonts/hkgrotesk/hkgrotesk-regular.eot");
   src: url("../fonts/hkgrotesk/hkgrotesk-regular.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-regular.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-regular.svg#hkgrotesk-regular") format("svg");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "HKGrotesk";
   src: url("../fonts/hkgrotesk/hkgrotesk-bold.eot");
   src: url("../fonts/hkgrotesk/hkgrotesk-bold.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-bold.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-bold.svg#hkgrotesk-bold") format("svg");
   font-weight: 600;
   font-style: normal;
}
//=========================================================
// ANIMATION MIXIN
//=========================================================
@mixin keyframes($animation-name) {
   @-webkit-keyframes #{$animation-name} {
      @content;
   }
   @-moz-keyframes #{$animation-name} {
      @content;
   }
   @-ms-keyframes #{$animation-name} {
      @content;
   }
   @-o-keyframes #{$animation-name} {
      @content;
   }
   @keyframes #{$animation-name} {
      @content;
   }
}
@mixin animation($str) {
   -webkit-animation: #{$str};
   -moz-animation: #{$str};
   -ms-animation: #{$str};
   -o-animation: #{$str};
   animation: #{$str};
}
// =========================================================
// Breakpoints
// =========================================================
@mixin bp-Xlarge {
   @media only screen and (min-width: 1691px) {
      @content;
   }
}
@mixin bp-large {
   @media only all and (min-width: 1041px)and(max-width: 1690px) {
      @content;
   }
}
@mixin bp-medium {
   @media only all and (min-width: 768px) and (max-width: 1048px) {
      @content;
   }
}
@mixin bp-small {
   @media only all and (min-width: 480px) and (max-width: 767px) {
      @content;
   }
}
@mixin bp-Xsmall {
   @media only all and (max-width: 479px) {
      @content;
   }
}
// =========================================================
// p5 CANVAS
// =========================================================

// #p5-canvas {
//    position: fixed;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    z-index: -1;
// }

#white-fadeIn {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 100;
   background-color: white;
   pointer-events: none;
   @include animation('white-fadeIn 2s ease-in-out 1 forwards');
   @include keyframes(white-fadeIn) {
      0% {
         opacity: 1;
      }

      100% {
         opacity: 0;
      }
   }
}
body {
   background-color: $bg-color;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   overflow-x: hidden;
   font-family: 'HKGrotesk', sans-serif;
}

// ******************************
// Nav
// ******************************

nav {
   z-index: 5;
   //position
   position: absolute;
   top: 50px;
   width: 85%;
   margin-left: 10%;
   height: 40px;
   @include bp-medium {
      width: 90%;
      margin-left: 5%;
   }
   @include bp-small {
      width: 90%;
      margin-left: 5%;
      top: 20px;
   }
   @include bp-Xsmall {
      width: 90%;
      margin-left: 5%;
      top: 20px;
   }
   #nav-inner {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      .svg-container {
         height: 30px;
         #logo {
            height: 30px;
         }
      }
      //web nav
      #nav-web {
         color: black;
         display: flex;
         flex-flow: row wrap;
         width: 30%;
         justify-content: space-between;
         @include bp-Xlarge{
            width: 20%;
         }
         @include bp-medium {
            display: none;
         }
         @include bp-small {
            display: none;
         }
         @include bp-Xsmall {
            display: none;
         }
         .web-dropbtn{
            outline: none;
            border: none;
            background: none;
            padding: 0;
         }
         .web-link {
            //text styles
            font-family: 'HKGrotesk', sans-serif;
            font-size: 18px;
            line-height: 20px;
            font-weight: 600;
            color: black;
            text-decoration: none;
            &:hover {
               color: $color-red;
            }
         }
         .web-dropdown {
            &:hover{
               #web-dropdown-content {
                  display: block;
               }
            }
            #web-dropdown-content {
               display: none;
               position: absolute;
               z-index: 1;
               padding-top: 5px;
            }
         }
      }
      //mobile nav
      #nav-mobile {
         color: black;
         display: none;
         @include bp-medium {
            display: block;
         }
         @include bp-small {
            display: block;
         }
         @include bp-Xsmall {
            display: block;
         }

         .nav-open {
            @include animation('nav-open 0.3s ease-in-out 1 forwards');
            @include keyframes(nav-open) {
               0% {
                  opacity: 0;
               }

               100% {
                  opacity: 1;
               }
            }
         }
         .nav-close {
            @include animation('nav-close 0.3s ease-in-out 1 forwards');
            @include keyframes(nav-close) {
               0% {
                  opacity: 1;
               }

               100% {
                  opacity: 0;
               }
            }
         }
         .fade-down {
            @include animation('fade-down 0.5s ease-in-out 1 forwards');
            @include keyframes(fade-down) {
               0% {
                  opacity: 0;
                  transform: translate3d(0, -25px, 0);
               }

               100% {
                  opacity: 1;
                  transform: translate3d(0, 0px, 0);
               }
            }
         }
         #nav-mobile-links {
            display: none;
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            z-index: -1;
            padding-top: 150px;
            padding-left: 5%;
            background-color: #f4f4f4;

            p {
               display: block;
               opacity: 0;
               transform: translate3d(0, -25px, 0);
            }

            a {
               //text styles
               font-family: 'EB Garamond', serif;
               font-size: 48px;
               line-height: 60px;
               font-weight: 600;
               text-transform: none;
               color: black;
               text-decoration: none;

               &:hover {
                  text-decoration: underline;
               }
            }

            .dropdown {
               position: relative;

               p {
                  opacity: 0;
                  transform: translate3d(0, -50px, 0);
               }

               .dropbtn {
                  border: none;
                  outline: none;
                  background: none;
                  cursor: pointer;
                  //text styles
                  font-family: 'EB Garamond', serif;
                  font-size: 48px;
                  line-height: 60px;
                  font-weight: 600;
                  text-transform: none;
                  color: black;
                  padding: 0;
                  //animation
                  &:hover {
                     text-decoration: underline;
                  }
               }

               #dropdown-content {
                  display: none;
                  min-width: 160px;
                  z-index: 1;

                  p {
                     display: block;
                  }
                  a {
                     padding-left: 30px;
                     //text styles
                     font-family: 'EB Garamond', serif;
                     font-size: 36px;
                     line-height: 48px;
                     font-weight: 600;
                     color: black;
                     text-transform: none;
                     text-decoration: none;

                     &:hover {
                        text-decoration: underline;
                     }
                  }
               }
            }
         }
      }
   }
}
// ******************************
// Main
// ******************************

main {

   margin-bottom: 100px;
   font-family: 'HKGrotesk', sans-serif;
   width: 85%;
   margin-left: 10%;
   margin-top: 0px;
   @include bp-medium {
      width: 90%;
      margin-left: 5%;
      margin-top: 200px;
   }
   @include bp-small {
      width: 90%;
      margin-left: 5%;
      margin-top: 100px;
   }
   @include bp-Xsmall {
      width: 90%;
      margin-left: 5%;
      margin-top: 100px;
   }

   @include animation('margin-intro 0.5s ease-in-out 1 forwards');
   @include bp-medium {
      @include animation('margin-intro 0.5s ease-in-out 1 forwards');
   }
   @include bp-small {
      @include animation('margin-small-intro 0.5s ease-in-out 1 forwards');
   }
   @include bp-Xsmall {
      @include animation('margin-small-intro 0.5s ease-in-out 1 forwards');
   }
   @include keyframes(margin-intro) {
      0% {
         margin-top: 100px;
      }

      100% {
         margin-top: 200px;
      }
   }
   @include keyframes(margin-small-intro) {
      0% {
         margin-top: 50px;
      }

      100% {
         margin-top: 150px;
      }
   }

   .feature {
      width: 60%;
      top: 0;
      left: 0;
      margin-bottom: 50px;
      @include bp-medium {
         width: 100%;
         margin-bottom: 40px;
      }
      @include bp-small {
         width: 100%;
         margin-bottom: 20px;
      }
      @include bp-Xsmall {
         width: 100%;
         margin-bottom: 20px;
      }
      h2 {
         font-family: 'EB Garamond', serif;
         font-weight: 600;
         width: 100%;
         font-size: 40px;
         line-height: 48px;
         margin-bottom: 30px;
      }
   }
   .medium-titles {
      font-family: 'EB Garamond', serif;
      margin-bottom: 30px;
      font-size: 30px;
      line-height: 36px;
      font-weight: 600;
      text-decoration: none;
      @include bp-medium{
         font-size: 20px;
      }
      @include bp-small{
         font-size: 20px;
      }
      @include bp-Xsmall{
         font-size: 20px;
      }
   }

   .button{
      width: 20%;
      border-radius: 39px;
      margin-left: 40%;
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 40px;
      letter-spacing: 1px;
      background-color: #F3B34B;
      text-align: center;
      text-transform: uppercase;
      @include bp-small{
         width: 50%;
         margin-left: 25%;
      }
      @include bp-Xsmall{
         width: 50%;
         margin-left: 25%;
      }
      a{

         font-weight: 600;
         color: black;
         text-decoration: none;
         &:hover{
            color: white;
         }
         &:after{
            color: black;
            text-decoration: none;
         }
      }
   }

   .small-titles {
      margin-bottom: 20px;
      font-size: 16px;
   }

   .p-normal {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 20px;
      font-weight: 500;
      @include bp-medium{
         font-size: 14px;
         line-height: 18px;
      }
      @include bp-small{
         font-size: 14px;
         line-height: 18px;
      }
      @include bp-Xsmall{
         font-size: 14px;
         line-height: 18px;
      }
   }
   .p-media {
      color: $color-red;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 10px;
      @include bp-medium{
         font-size: 14px;
         line-height: 18px;
      }
      @include bp-small{
         font-size: 14px;
         line-height: 18px;
      }
      @include bp-Xsmall{
         font-size: 14px;
         line-height: 18px;
      }
   }

   .img-normal {
      width: 100%;
      margin-bottom: 20px;
   }
   .vid {
      width: 100%;
      margin-bottom: 20px;
   }
   .two-videos{
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      flex-flow: row;
   }

   .divider {
      width: 100%;
      height: 40px;
   }

   .iframe-container {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      height: 0;
   }

   .iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
}
/********* gallery *********/
.gallery {
   //position
   width: 100%;
   top: 0;
   left: 0;
   //styling
   display: flex;
   flex-flow: wrap;
   justify-content: space-between;
   overflow: hidden;
   @include bp-medium {
      margin-bottom: 20px;
   }
   @include bp-small {
      margin-bottom: 20px;
   }
   @include bp-Xsmall {
      margin-bottom: 20px;
   }

   .gallery-thumb {
      width: 18%;
      height: auto;
      margin-bottom: 50px;
      @include bp-medium {
         margin-bottom: 20px;
         width: 18%;
      }
      @include bp-small {
         margin-bottom: 10px;
         width: 30%;
      }
      @include bp-Xsmall {
         margin-bottom: 10px;
         width: 30%;
      }

      img {
         width: 100%;
         cursor: url('../img/ui/cursor_expand.png'), auto;
      }
   }
}

footer {
   font-family: "HKGrotesk", sans-serif;
   font-weight: 400;
   width: 85%;
   margin-left: 10%;
   margin-bottom: 50px;
   color: #636363;
   @include bp-medium{
      width: 90%;
      margin-left: 5%;
   }
   @include bp-small{
      width: 90%;
      margin-left: 5%;
   }
   @include bp-Xsmall{
      width: 90%;
      margin-left: 5%;
   }

   p {
      font-size: 12px;
      line-height: 20px;
      text-transform: uppercase;
      @include bp-small {
         margin-top: 20px;
      }
      @include bp-Xsmall {
         margin-top: 20px;
      }
   }

   a {
      font-family: 'EB Garamond', serif;
      margin-bottom: 30px;
      color: #636363;
      font-size: 20px;
      line-height: 24px;
      text-decoration: underline;
      float: right;
      text-transform: none;
      @include bp-small {
         float: none;
      }
      @include bp-Xsmall {
         float: none;
      }
   }
}
/******* lightbox ********/
data-title {
   font-family: "HK HKGrotesk-Medium", sans-serif;
   color: black;
}
