$bg-color: #FBF2F2;


@font-face {
   font-family: "HKGrotesk";
   src: url("../fonts/hkgrotesk/hkgrotesk-medium.eot");
   src: url("../fonts/hkgrotesk/hkgrotesk-medium.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-medium.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-medium.svg#hkgrotesk-medium") format("svg");
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: "HKGrotesk";
   src: url("../fonts/hkgrotesk/hkgrotesk-regular.eot");
   src: url("../fonts/hkgrotesk/hkgrotesk-regular.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-regular.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-regular.svg#hkgrotesk-regular") format("svg");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "HKGrotesk";
   src: url("../fonts/hkgrotesk/hkgrotesk-bold.eot");
   src: url("../fonts/hkgrotesk/hkgrotesk-bold.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-bold.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-bold.svg#hkgrotesk-bold") format("svg");
   font-weight: 600;
   font-style: normal;
}
//=========================================================
// ANIMATION MIXIN
//=========================================================
@mixin keyframes($animation-name) {
   @-webkit-keyframes #{$animation-name} {
      @content;
   }
   @-moz-keyframes #{$animation-name} {
      @content;
   }
   @-ms-keyframes #{$animation-name} {
      @content;
   }
   @-o-keyframes #{$animation-name} {
      @content;
   }
   @keyframes #{$animation-name} {
      @content;
   }
}
@mixin animation($str) {
   -webkit-animation: #{$str};
   -moz-animation: #{$str};
   -ms-animation: #{$str};
   -o-animation: #{$str};
   animation: #{$str};
}
// =========================================================
// Breakpoints
// =========================================================
@mixin bp-Xlarge {
   @media only screen and (min-width: 1691px) {
      @content;
   }
}
@mixin bp-large {
   @media only all and (min-width: 1041px)and(max-width: 1690px) {
      @content;
   }
}
@mixin bp-medium {
   @media only all and (min-width: 768px) and (max-width: 1048px) {
      @content;
   }
}
@mixin bp-small {
   @media only all and (min-width: 480px) and (max-width: 767px) {
      @content;
   }
}
@mixin bp-Xsmall {
   @media only all and (max-width: 479px) {
      @content;
   }
}
// =========================================================
// p5 CANVAS
// =========================================================

#p5-canvas {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
}

#white-fadeIn {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 100;
   background-color: white;
   pointer-events: none;
   @include animation('white-fadeIn 2s ease-in-out 1 forwards');
   @include keyframes(white-fadeIn) {
      0% {
         opacity: 1;
      }

      100% {
         opacity: 0;
      }
   }
}
body {
   background-color: $bg-color;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   overflow-x: hidden;
   font-family: 'HKGrotesk', sans-serif;
}

// ******************************
// Nav
// ******************************

nav {
   //text styles
   font-size: 18px;
   font-weight: 600;
   text-transform: uppercase;
   color: black;
   //position
   position: sticky;
   position: -webkit-sticky;
   top: 20px;
   width: 95%;
   left: 2.5%;
   height: 40px;

   z-index: 5;

   #nav-inner {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;

      #nav-name {
         width: 12%;
         display: flex;
         flex-flow: row wrap;
         align-items: center;
         justify-content: space-between;
         .svg-container{
            height: 30px;
            #logo {
               height: 30px;
            }
         }
         //name style
         .a-name {
            color: black;
            text-decoration: none;
            letter-spacing: 1px;
            @include bp-medium{
               display: none;
            }
            @include bp-small{
               display: none;
            }
            @include bp-Xsmall{
               display: none;
            }
            &:hover {
               color: grey;
            }

            &:after {
               color: black;
            }
         }
      }
      //info text style
      a {
         color: black;
         text-decoration: none;
         letter-spacing: 1px;

         &:hover {
            color: grey;
         }

         &:after {
            color: black;
         }
      }
   }
}
// ******************************
// Main
// ******************************

main {
   width: 75%;
   margin-left: 12.5%;
   margin-top: 50px;
   margin-bottom: 100px;
   font-family: 'HKGrotesk', sans-serif;
   @include bp-medium {
      margin-bottom: 40px;
      width: 90%;
      margin-left: 5%;
   }
   @include bp-small {
      margin-bottom: 20px;
      width: 90%;
      margin-left: 5%;
   }
   @include bp-Xsmall {
      margin-bottom: 20px;
      width: 90%;
      margin-left: 5%;
   }

   .feature {
      width: 100%;
      top: 0;
      left: 0;
      margin-top: 50px;
      margin-bottom: 50px;
      display: flex;
      flex-flow: row-reverse;
      justify-content: space-between;
      @include bp-medium {
         flex-flow: column;
         margin-bottom: 40px;
      }
      @include bp-small {
         flex-flow: column;
         margin-bottom: 20px;
      }
      @include bp-Xsmall {
         flex-flow: column;
         margin-bottom: 20px;
      }

      .feature-img {
         width: 66.6%;
         align-self: center;
         margin-bottom: 20px;
         @include bp-medium {
            width: 100%;
         }
         @include bp-small {
            width: 100%;
         }
         @include bp-Xsmall {
            width: 100%;
         }
      }

      .feature-info {
         width: 30%;
         display: flex;
         flex-flow: column wrap;
         justify-content: space-between;
         align-items: flex-start;
         @include bp-medium {
            width: 100%;
         }
         @include bp-small {
            width: 100%;
         }
         @include bp-Xsmall {
            width: 100%;
         }
      }

      h2 {
         font-weight: 600;
         width: 100%;
         font-size: 36px;
         line-height: 44px;
         margin-bottom: 10px;
      }

      .content-wrapper {
         margin-bottom: 20px;
      }

      .info-title {
         font-weight: 600;
         margin-bottom: 10px;
         font-size: 14px;
         align-self: flex-start;
      }

      .info-content {
         font-size: 14px;
         line-height: 20px;
      }
   }

   .medium-titles {
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 24px;
      text-decoration: underline;
   }

   .button{
      width: 20%;
      border-radius: 39px;
      margin-left: 40%;
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 40px;
      letter-spacing: 1px;
      background-color: #F3B34B;
      text-align: center;
      text-transform: uppercase;
      @include bp-small{
         width: 50%;
         margin-left: 25%;
      }
      @include bp-Xsmall{
         width: 50%;
         margin-left: 25%;
      }
      a{

         font-weight: 600;
         color: black;
         text-decoration: none;
         &:hover{
            color: white;
         }
         &:after{
            color: black;
            text-decoration: none;
         }
      }
   }

   .small-titles {
      margin-bottom: 20px;
      font-size: 16px;
   }

   .p-normal {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
   }

   .img-normal {
      width: 100%;
      margin-bottom: 20px;
   }

   .divider {
      width: 100%;
      height: 40px;
   }

   .iframe-container {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      height: 0;
   }

   .iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
}
/********* gallery *********/
.gallery {
   //position
   width: 100%;
   top: 0;
   left: 0;
   //styling
   display: flex;
   flex-flow: wrap;
   justify-content: space-between;
   overflow: hidden;
   @include bp-medium {
      margin-bottom: 20px;
   }
   @include bp-small {
      margin-bottom: 20px;
   }
   @include bp-Xsmall {
      margin-bottom: 20px;
   }

   .gallery-thumb {
      width: 18%;
      height: auto;
      margin-bottom: 50px;
      @include bp-medium {
         margin-bottom: 20px;
         width: 18%;
      }
      @include bp-small {
         margin-bottom: 10px;
         width: 30%;
      }
      @include bp-Xsmall {
         margin-bottom: 10px;
         width: 30%;
      }

      img {
         width: 100%;
         cursor: url('../img/ui/cursor_expand.png'), auto;
      }
   }
}

footer {
   font-family: "HKGrotesk", sans-serif;
   font-weight: 400;
   width: 75%;
   margin-left: 12.5%;
   margin-bottom: 50px;
   color: #636363;
   @include bp-medium{
      width: 90%;
      margin-left: 5%;
   }
   @include bp-small{
      width: 90%;
      margin-left: 5%;
   }
   @include bp-Xsmall{
      width: 90%;
      margin-left: 5%;
   }

   p {
      font-size: 12px;
      line-height: 20px;
      text-transform: uppercase;
      @include bp-small {
         margin-top: 20px;
      }
      @include bp-Xsmall {
         margin-top: 20px;
      }
   }

   a {
      margin-bottom: 30px;
      color: #636363;
      font-size: 20px;
      line-height: 24px;
      text-decoration: underline;
      float: right;
      text-transform: none;
      @include bp-small {
         float: none;
      }
      @include bp-Xsmall {
         float: none;
      }
   }
}
/******* lightbox ********/
data-title {
   font-family: "HK HKGrotesk-Medium", sans-serif;
   color: black;
}
