/***** ISSUES TO BE FIXED
1. logo needs to link to the home page
2. remove .html extensions
3. make ABOUT red
4. possibly make the bottom an animation and remove the jquery when its not laptop format
5. responsive issues - the relationship between april ding and nav (and li widths)
6. add $nav--margin-left-mobile-s: VALUEvw;
*****/

@import url("https://fonts.googleapis.com/css?family=Passion+One");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600");


// =========================================================
// Variables
// =========================================================
$header--font-family: 'Passion One', sans-serif;
$header--font-weight: 400;
$header--font-size: 36px;
$text-color: black;

$nav--font-family: 'Josefin Sans', sans-serif;
$nav--font-weight: 600;

$header--margin-top-laptop: 1.5vw;
$header--margin-left-laptop: 3vw;
$header--margin-top-tablet: 3vw;
$header--margin-left-tablet: 4vw;
$header--margin-top-mobile: 8vw;
$header--margin-left-mobile: 8vw;

$name--margin-left-laptop-l: 2vw;
$name--margin-left-laptop-r: 2.5vw;
$name--margin-left-tablet: 3.5vw;
$name--margin-left-mobile: 6.5vw;

$nav--margin-left-laptop-l: 41vw;
$nav--margin-left-laptop-r: 25vw;
$nav--margin-left-tablet: 10vw;
$nav--margin-left-mobile-r: 30vw;
$nav--margin-left-mobile-s: 20vw;

// =========================================================
// Grid Variables
// =========================================================
$grid--column-width: 60px;
$grid--gutter-width: 20px;
$grid--unit:         ($grid--column-width + $grid--gutter-width);

// =========================================================
// Breakpoints
// =========================================================
// $breakpoint--laptop-l: $grid--unit * 17 + 40;//1400
// $breakpoint--laptop-r: $grid--unit * 12 + 64;//1024
// $breakpoint--tablet: $grid--unit * 9 + 48; //768
// $breakpoint--mobile: $grid--unit * 5 + 25; //425


$breakpoint--laptop-r: $grid--unit * 15;//1200
$breakpoint--tablet: $grid--unit * 10; //800
// $breakpoint--mobile: $grid--unit * 5 + 25; //425
$breakpoint--mobile-r: $grid--unit * 5 + 25; //425
$breakpoint--mobile-s: $grid--unit * 4 + 45; //350


//actual scss

body {
   width: 100vw;
   height: 100vh;
   margin: auto;
   overflow: hidden;


  .bg {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 40vh;
    left: 0;
    z-index: -2;

    background: url("../img/bg1.png") no-repeat center center;
    background-size: cover;

    @media (min-width: $breakpoint--laptop-r - 20) {
      transform: scale(1.1);
    }
    // transform: scale(1.1);
  }


   header {
      width: 100%;
      display: flex;
      margin: auto;

      //adjust top and left margin based on the viewport size
      @media (min-width: $breakpoint--laptop-r + 1) {
         margin-top: $header--margin-top-laptop;
         margin-left: $header--margin-left-laptop;
      }
      @media (min-width: $breakpoint--tablet + 1) and (max-width: $breakpoint--laptop-r) {
         margin-top: $header--margin-top-tablet;
         margin-left: $header--margin-left-tablet;
      }
      @media (min-width: $breakpoint--mobile-r) and (max-width: $breakpoint--tablet) {
         margin-top: $header--margin-top-tablet;
         margin-left: $header--margin-left-tablet;
      }
      @media (max-width: $breakpoint--mobile-r){
         margin-top: $header--margin-top-mobile;
         margin-left: $header--margin-left-mobile;
      }


      img{
         width: 35px;
         height: 73px;
      }


      h1{
         margin-top: 1.5vw;
         // width: 40%;

         @media (min-width: $breakpoint--laptop-r + 1) {
            margin-left: $name--margin-left-laptop-l;
            width: 50%;
         }
         @media (min-width: $breakpoint--tablet + 1) and (max-width: $breakpoint--laptop-r) {
            margin-left: $name--margin-left-laptop-r;
            width: 50%;
         }
         @media (min-width: $breakpoint--mobile-r) and (max-width: $breakpoint--tablet) {
            margin-left: $name--margin-left-tablet;
            width: 30%;
         }
         @media (max-width: $breakpoint--mobile-r){
            margin-left: $name--margin-left-mobile;
            width: 30%;
         }
         a{
            text-decoration: none;
            color: $text-color;
            font-family: $header--font-family;
            font-weight: $header--font-weight;
            font-size: $header--font-size;

         }

      }



      nav {
         width: 100%;
         margin-top: 2.5vw;

         @media (min-width: $breakpoint--laptop-r + 1) {
            margin-left: $nav--margin-left-laptop-l;
         }
         @media (min-width: $breakpoint--tablet + 1) and (max-width: $breakpoint--laptop-r) {
            margin-left: $nav--margin-left-laptop-r;
         }

         @media (min-width: $breakpoint--mobile-r) and (max-width: $breakpoint--tablet) {
            margin-left: $nav--margin-left-tablet;
         }
         @media (min-width: $breakpoint--mobile-s) and (max-width: $breakpoint--mobile-r){
           margin-left: $nav--margin-left-mobile-r;
         }
         @media (max-width: $breakpoint--mobile-s) {
           margin-left: $nav--margin-left-mobile-s;
         }

         ul{
            display: flex;
            @media (max-width: $breakpoint--mobile-r){
              display: block;
            }
            list-style-type: none;
            width: 100%;
            margin: auto;



            li{
               text-align: center;
               @media (max-width: $breakpoint--mobile-r){
                 text-align: right;
                 line-height: 1.5;
               }

               // width: 100px;
               @media (min-width: $breakpoint--laptop-r + 1) {
                  width: 8vw;
               }
               @media (min-width: $breakpoint--tablet + 1) and (max-width: $breakpoint--laptop-r) {
                  width: 10.5vw;
               }

               @media (min-width: $breakpoint--mobile-r) and (max-width: $breakpoint--tablet) {
                  width: 14vw;
               }
               @media (max-width: $breakpoint--mobile-r){
                  width: 100px;
               }





               a {
                  font-family: $nav--font-family;
                  font-weight: $nav--font-weight;
                  color: $text-color;

                  text-transform: uppercase;
                  text-decoration: none;
                  line-height: solid;

                  font-size: 16px;
                  @media (max-width: $breakpoint--tablet){
                    font-size: 12px;
                  }

                  &:hover{
                     color:grey;
                  }


               }


            }

            li:last-child a{
               color: red;
            }

         }


      }



   }


   #particle-container {
      z-index: -1;
   }

   .particle {
   	position: absolute;
    	border-radius: 50%;
   }

   @for $i from 1 through 25 {
   	@keyframes particle-animation-#{$i} {
   		100% {
   			transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
   		}
   	}

   	.particle:nth-child(#{$i}){
   		animation: particle-animation-#{$i} 60s infinite;
   		$size: random(7) + 5 + px;
   		opacity: random(100)/100;
   		height: $size;
   		width: $size;
   		animation-delay: -$i * .5s;
   		transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 3px));
   		background: red;
   	}
   }





}
