// ******************************
// Variables
// ******************************
$color-blue: #1289F6;
$color-green: #219653;
$color-orange: #FF613F;
$color-darkgrey: #636363;
$logo-red: #F8614C;
$bg-color: #FBF2F2;
$intro-animation-length: 2s;
// ******************************
// Fonts
// ******************************
@font-face {
   font-family: "HKGrotesk";
   src: url("../fonts/hkgrotesk/hkgrotesk-medium.eot");
   src: url("../fonts/hkgrotesk/hkgrotesk-medium.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-medium.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-medium.svg#hkgrotesk-medium") format("svg");
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: "HKGrotesk";
   src: url("../fonts/hkgrotesk/hkgrotesk-regular.eot");
   src: url("../fonts/hkgrotesk/hkgrotesk-regular.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-regular.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-regular.svg#hkgrotesk-regular") format("svg");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "HKGrotesk";
   src: url("../fonts/hkgrotesk/hkgrotesk-bold.eot");
   src: url("../fonts/hkgrotesk/hkgrotesk-bold.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-bold.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-bold.svg#hkgrotesk-bold") format("svg");
   font-weight: 600;
   font-style: normal;
}
@font-face {
   font-family: "HKGrotesk";
   src: url("../fonts/hkgrotesk/hkgrotesk-italic.eot");
   src: url("../fonts/hkgrotesk/hkgrotesk-italic.woff") format("woff"), url("../fonts/hkgrotesk/hkgrotesk-italic.otf") format("opentype"), url("../fonts/hkgrotesk/hkgrotesk-bold.svg#hkgrotesk-italic") format("svg");
   font-weight: 400;
   font-style: italic;
}
// ******************************
// Animation Mixin
// ******************************
@mixin keyframes($animation-name) {
   @-webkit-keyframes #{$animation-name} {
      @content;
   }
   @-moz-keyframes #{$animation-name} {
      @content;
   }
   @-ms-keyframes #{$animation-name} {
      @content;
   }
   @-o-keyframes #{$animation-name} {
      @content;
   }
   @keyframes #{$animation-name} {
      @content;
   }
}
@mixin animation($str) {
   -webkit-animation: #{$str};
   -moz-animation: #{$str};
   -ms-animation: #{$str};
   -o-animation: #{$str};
   animation: #{$str};
}
// ******************************
// Breakpoints
// ******************************
@mixin bp-Xlarge {
   @media only screen and (min-width: 1691px) {
      @content;
   }
}
@mixin bp-large {
   @media only all and (min-width: 1041px)and(max-width: 1690px) {
      @content;
   }
}
@mixin bp-medium {
   @media only all and (min-width: 768px) and (max-width: 1048px) {
      @content;
   }
}
@mixin bp-small {
   @media only all and (min-width: 480px) and (max-width: 767px) {
      @content;
   }
}
@mixin bp-Xsmall {
   @media only all and (max-width: 479px) {
      @content;
   }
}
// ******************************
// Master
// ******************************

#white-fadeIn {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 100;
   background-color: $bg-color;
   pointer-events: none;
   @include animation('white-fadeIn 1s ease-in-out 1 forwards');
   @include keyframes(white-fadeIn) {
      0% {
         opacity: 1;
      }
      30%{
         opacity: 1;
      }

      100% {
         opacity: 0;
      }
   }
}

body {
   background-color: $bg-color;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   overflow-x: hidden;
   font-family: 'HKGrotesk', sans-serif;
}

#p5-canvas {
   width: 100%;
   top: 0;
   left: 0;
   z-index: -1;
}
// ******************************
// Nav
// ******************************

nav {
   z-index: 5;
   //text styles
   font-size: 18px;
   font-weight: 600;
   text-transform: uppercase;
   color: black;
   //position
   position: sticky;
   position: -webkit-sticky;
   top: 20px;
   width: 95%;
   left: 2.5%;
   height: 40px;

   #nav-inner {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;

      #nav-name {
         width: 12%;
         display: flex;
         flex-flow: row wrap;
         align-items: center;
         justify-content: space-between;
         .svg-container{
            height: 30px;
            #logo {
               height: 30px;
            }
         }
         //name style
         .a-name {
            color: black;
            text-decoration: none;
            letter-spacing: 1px;
            @include bp-medium{
               display: none;
            }
            @include bp-small{
               display: none;
            }
            @include bp-Xsmall{
               display: none;
            }
            &:hover {
               color: grey;
            }

            &:after {
               color: black;
            }
         }
      }
      //info text style
      a {
         color: black;
         text-decoration: none;
         letter-spacing: 1px;

         &:hover {
            color: grey;
         }

         &:after {
            color: black;
         }
      }
   }
}

#nav-bg {
   position: fixed;
   width: 100vw;
   height: 100vh;
   left: 0;
   top: 0;
   background-color: $bg-color;
   @include animation('bio-intro 1s 0.5s ease-in-out 1 forwards');
   @include bp-medium {
      @include animation('bio-medium-intro 1s 0.5s ease-in-out 1 forwards');
   }
   @include bp-small {
      @include animation('bio-small-intro 1s 0.5s ease-in-out 1 forwards');
   }
   @include bp-Xsmall {
      @include animation('bio-small-intro 1s 0.5s ease-in-out 1 forwards');
   }
   @include keyframes(bio-intro) {
      0% {
         width: 100vw;
         height: 100vh;
         background-color: $bg-color;
      }

      30% {
         width: 100vw;
         height: 100vh;
         background-color: $logo-red;
      }

      50% {
         width: 100vw;
         height: 100vh;
         background-color: $logo-red;
      }

      100% {
         width: 100vw;
         height: 0;
      }
   }
   @include keyframes(bio-medium-intro) {
      0% {
         width: 100vw;
         height: 100vh;
         background-color: $bg-color;
      }

      30% {
         width: 100vw;
         height: 100vh;
         background-color: $logo-red;
      }

      50% {
         width: 100vw;
         height: 100vh;
         background-color: $logo-red;
      }

      100% {
         width: 100vw;
         height: 0;
      }
   }
   @include keyframes(bio-small-intro) {
      0% {
         width: 100vw;
         height: 100vh;
         background-color: $bg-color;
      }

      30% {
         width: 100vw;
         height: 100vh;
         background-color: $logo-red;
      }

      50% {
         width: 100vw;
         height: 100vh;
         background-color: $logo-red;
      }

      100% {
         width: 100vw;
         height: 0;
      }
   }
}
// ******************************
// Main
// ******************************

main {
   //position
   top: 0;
   width: 75%;
   margin-left: 12.5%;
   margin-top: 0;
   margin-bottom: 40px;
   @include bp-medium {
      width: 90%;
      margin-left: 5%;
   }
   @include bp-small {
      width: 90%;
      margin-left: 5%;
   }
   @include bp-Xsmall {
      width: 90%;
      margin-left: 5%;
   }
   @include animation('margin-intro 0.5s 1s ease-in-out 1 forwards');
   @include bp-medium {
      @include animation('margin-intro 0.5s 1s ease-in-out 1 forwards');
   }
   @include bp-small {
      @include animation('margin-small-intro 0.5s 1s ease-in-out 1 forwards');
   }
   @include bp-Xsmall {
      @include animation('margin-small-intro 0.5s 1s ease-in-out 1 forwards');
   }
   @include keyframes(margin-intro) {
      0% {
         margin-top: 0;
      }
      100% {
         margin-top: 100px;
      }
   }
   @include keyframes(margin-small-intro) {
      0% {
         margin-top: 0;
      }
      100% {
         margin-top: 50px;
      }
   }

   font-weight: 500;

   #bio {
      font-weight: 400;
      font-style: italic;
      width: 100%;
      font-size: 30px;
      line-height: 36px;
      color: black;
      padding-bottom: 40px;
      border-bottom: 1px solid black;

      @include bp-Xsmall {
         font-size: 30px;
         line-height: 34px;
      }
      @include bp-small {
         font-size: 30px;
         line-height: 34px;
      }
      @include bp-medium {
         font-size: 30px;
         line-height: 34px;
      }
   }

   .projects-wrapper {
      display: flex;
      flex-flow: column wrap;
      align-items: flex-start;

      .project {
         width: 100%;
         position: relative;
         margin-top: 100px;
         border-bottom: 1px solid black;

         .small-titles {
            margin-bottom: 20px;
            font-size: 30px;
            font-weight: 600;
            text-decoration: none;
            color: black;
            a{
               text-decoration: none;
               color: black;
               outline: none;
            }
         }

         .p-normal {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 20px;
         }

         img {
            width: 100%;
            height: 100%;
            margin-bottom: 20px;
            opacity: 1;
            transition: 0.5s;
            display: block;

         }

         .read-more {
            color: black;
            text-decoration: underline;
            float: right;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 40px;
            a{
               color: black;
               outline: none;
               text-decoration: none;
            }
         }
      }
   }
}

//end of main
// ******************************
// Footer
// ******************************
footer {
   font-family: "HKGrotesk", sans-serif;
   font-weight: 400;
   width: 75%;
   margin-left: 12.5%;
   margin-bottom: 50px;
   font-size: 12px;
   line-height: 20px;
   text-transform: uppercase;
   color: #636363;
   @include bp-medium{
      width: 90%;
      margin-left: 5%;
   }
   @include bp-small{
      width: 90%;
      margin-left: 5%;
   }
   @include bp-Xsmall{
      width: 90%;
      margin-left: 5%;
   }
}

// ******************************
// Lightbox
// ******************************

data-title {
   font-family: "HKGrotesk", sans-serif;
   color: black;
}
